<div class="choose_shiping_wrapper">
  <div class="manual_order_header">
    <button class="back_btn_wrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path d="M10.3723 14.25C10.1453 14.2508 9.93023 14.1487 9.78726 13.9725L6.16476 9.47248C5.93727 9.19573 5.93727 8.79673 6.16476 8.51998L9.91476 4.01998C10.1799 3.70104 10.6533 3.65738 10.9723 3.92248C11.2912 4.18758 11.3349 4.66104 11.0698 4.97998L7.71726 8.99998L10.9573 13.02C11.1445 13.2448 11.184 13.5579 11.0583 13.8222C10.9327 14.0864 10.6648 14.2534 10.3723 14.25Z" fill="#212B36"/>
      </svg>
      <span>Back to My Products</span>
    </button>
    <div class="header_text">Order ID #1111</div>
  </div>

  <div class="shiping_info_wrap">
    <div class="shiping_head"></div>
    <div class="shiping_details_wrap">
      <div class="method_wrap">
        <div class="method_section">
          <div class="method_head">Shipping Method</div>
          <div class="method_flash">
            <%= image_tag "yello_ic_info", alt:"icon", class:"flash_icon" %>
            Customer Choose USPS Priority Shipping
          </div>
          <% 4.times do  %>
          <div class="method_list">
            <input class="checkbox" type="radio"/>
            <div class="list_item">Ground Shipping</div>
            <div class="list_item">UPS</div>
            <div class="list_item">2-5 days</div>
            <div class="list_item">USD 13.51</div>
          </div>
          <%end%>
        </div>

        <div class="selected_wrap">
          <div class="selected_head">
            <div class="left_items">
              <%= image_tag "cart", alt:"icon", class:"left_icon" %>
              <div class="left_text">Products selected</div>
              <sup class="top_text">(4 item)</sup>
            </div>
            <a class="edit_link" href="#">Edit</a>
          </div>
          <% 2.times do %>
          <div class="info_left_section">
            <div class="left_sku">Product 1</div>
            <div class="left_head">20 oz YETI Tumbler</div>
            <div class="text_with_img_section">
              <div class="text_section">
                <div class="text">Quantity: <span>2</span></div>
                <div class="text">Color: <span>BLACK</span></div>
                <div class="text">Size: <span>20 OZ</span></div>
                <div class="text">Ships From:<span>Producer 1</span></div>
              </div>
              <div class="img_section">
                <%= image_tag "trans_frame", alt:"image", class:"section_img" %>
                <%= image_tag "trans_frame", alt:"image", class:"section_img" %>
                <%= image_tag "trans_frame", alt:"image", class:"section_img" %>
              </div>
            </div>
            <div class="cost_section">
              <div>Production costs</div>
              <div>USD 10.00</div>
            </div>
          </div>
          <%end%>
        </div>
      </div>

      <div class="customer_wrap">
        <div class="info_right_section">
          <div class="buyer_info_section">
            <div class="buyer_mail">
              <div class="buyer_head">Customer</div>
              <div class="buyer_edit">
                <div class="buyer_text">Dacid Guerra Dacidguerra@gmail.com +1884829203</div>
                <a class="edit_link" href="#">Edit</a>
              </div>
            </div>
            <div class="buyer_mail">
              <div class="buyer_head">Shipping Address</div>
              <div class="buyer_edit">
                <div class="buyer_text">Dacid Guerra 86 fycke ln teaneck, NJ, 07666, US</div>
                <a class="edit_link" href="#">Edit</a>
              </div>
            </div>
          </div>

          <div class="billing_section">
            <div class="billing_head">Billing</div>
            <div class="billing_info">
              <div class="left_text">
                <div>Production Cost:</div>
                <div>Shipping Cost:</div>
                <div class="fw-bold">Total Cost:</div>
              </div>
              <div class="right_text">
                <div>USD 20.00</div>
                <div>USD 10.00</div>
                <div class="fw-bold">USD 30.00</div>
              </div>
            </div>
          </div>
        </div>

        <div class="urgent_section">
          <input type="checkbox">
          <div class="urgent_text">MARK ORDER AS URGENT</div>
        </div>

        <div class="btn_wrap">
          <button class="later_btn">Save Later</button>
          <button class="submit_btn">Submit Order
            <%= image_tag "endicon", alt:"icon", class:"btn_icon" %>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- this page popup here -->
<div class="order_success_pop_wrapper">
  <div class="order_success_pop">
    <div class="pop_head">Order is Successfully Submitted for Production</div>
    <%= image_tag "order_complete", alt:"image_icon", class:"pop_img" %>
    <button class="back_btn">
      <%= image_tag "start_icon", alt:"icon", class:"arrow_icon" %>
      Back to Orders
    </button>
  </div>  
</div>










