    <!-- // user dashboard create manual order css here -->

    <!-- find the css with above text -->
  


<div class="manual_order_wrapper">
  <div class="manual_order_header">
    <button class="back_btn_wrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path d="M10.3723 14.25C10.1453 14.2508 9.93023 14.1487 9.78726 13.9725L6.16476 9.47248C5.93727 9.19573 5.93727 8.79673 6.16476 8.51998L9.91476 4.01998C10.1799 3.70104 10.6533 3.65738 10.9723 3.92248C11.2912 4.18758 11.3349 4.66104 11.0698 4.97998L7.71726 8.99998L10.9573 13.02C11.1445 13.2448 11.184 13.5579 11.0583 13.8222C10.9327 14.0864 10.6648 14.2534 10.3723 14.25Z" fill="#212B36"/>
      </svg>
      <span>Back to My Products</span>
    </button>
    <div class="header_text">Order ID #1111</div>
  </div>

  <div class="manual_content_wrap">
    <div class="new_product_section">
      <div class="icon_wrap">
      </div>
      <div class="new_product_btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 8C13.5 8.55 13.05 9 12.5 9C11.95 9 11.5 8.55 11.5 8V6H9.5C8.95 6 8.5 5.55 8.5 5C8.5 4.45 8.95 4 9.5 4H11.5V2C11.5 1.45 11.95 1 12.5 1C13.05 1 13.5 1.45 13.5 2V4H15.5C16.05 4 16.5 4.45 16.5 5C16.5 5.55 16.05 6 15.5 6H13.5V8ZM5.51 20C5.51 18.9 6.4 18 7.5 18C8.6 18 9.5 18.9 9.5 20C9.5 21.1 8.6 22 7.5 22C6.4 22 5.51 21.1 5.51 20ZM17.5 18C16.4 18 15.51 18.9 15.51 20C15.51 21.1 16.4 22 17.5 22C18.6 22 19.5 21.1 19.5 20C19.5 18.9 18.6 18 17.5 18ZM16.05 13H8.6L7.5 15H18.5C19.05 15 19.5 15.45 19.5 16C19.5 16.55 19.05 17 18.5 17H7.5C5.98 17 5.02 15.37 5.75 14.03L7.1 11.59L3.5 4H2.5C1.95 4 1.5 3.55 1.5 3C1.5 2.45 1.95 2 2.5 2H4.14C4.52 2 4.88 2.22 5.04 2.57L9.03 11H16.05L19.44 4.87C19.7 4.39 20.31 4.22 20.79 4.48C21.27 4.75 21.45 5.36 21.18 5.84L17.8 11.97C17.46 12.59 16.8 13 16.05 13Z" fill="white"/>
        </svg>
        <div class="new_text">Add New Products</div>
      </div>
    </div>

    <div class="product_list_section">
      <div class="ship_from_wrap">
        <div class="icon_wrap">
          <%= image_tag "truck" %>
          <div class="icon_text">Ships from Producer Name 1</div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M8.11953 14.7099L11.9995 10.8299L15.8795 14.7099C16.2695 15.0999 16.8995 15.0999 17.2895 14.7099C17.6795 14.3199 17.6795 13.6899 17.2895 13.2999L12.6995 8.70994C12.3095 8.31994 11.6795 8.31994 11.2895 8.70994L6.69953 13.2999C6.30953 13.6899 6.30953 14.3199 6.69953 14.7099C7.08953 15.0899 7.72953 15.0999 8.11953 14.7099Z" fill="#212B36"/>
        </svg>
      </div>

      <div class="content_container">
        <div class="left_wrap">
          <div class="left_content">
            <div class="left_head">YETI - 20oz Ringneck Tumbler</div>
            <div class="content_img">
              <%= image_tag "IMG" %>
              <div class="btn_wrap">
                <button class="outline_btn">Black</button>
                <div class="plus_minus_wrap">
                  <span class="icon">-</span>
                  <span>12</span>
                  <span class="icon right_radius">+</span>
                </div>
              </div>
            </div>
          </div>
          <div class="left_content">
            <div class="left_head">YETI - 20oz Ringneck Tumbler</div>
            <div class="content_img shadow_box">
              <%= image_tag "IMG" %>
              <div class="delete_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="28" viewBox="0 0 29 28" fill="none">
                  <path d="M25.0002 7.00006H19.1668V5.05173C19.1395 4.30485 18.8171 3.5993 18.2703 3.08974C17.7236 2.58018 16.9971 2.30819 16.2502 2.3334H12.7502C12.0032 2.30819 11.2767 2.58018 10.73 3.08974C10.1833 3.5993 9.86087 4.30485 9.8335 5.05173V7.00006H4.00016C3.69074 7.00006 3.394 7.12298 3.1752 7.34177C2.95641 7.56056 2.8335 7.85731 2.8335 8.16673C2.8335 8.47615 2.95641 8.77289 3.1752 8.99169C3.394 9.21048 3.69074 9.3334 4.00016 9.3334H5.16683V22.1667C5.16683 23.095 5.53558 23.9852 6.19196 24.6416C6.84833 25.298 7.73857 25.6667 8.66683 25.6667H20.3335C21.2618 25.6667 22.152 25.298 22.8084 24.6416C23.4647 23.9852 23.8335 23.095 23.8335 22.1667V9.3334H25.0002C25.3096 9.3334 25.6063 9.21048 25.8251 8.99169C26.0439 8.77289 26.1668 8.47615 26.1668 8.16673C26.1668 7.85731 26.0439 7.56056 25.8251 7.34177C25.6063 7.12298 25.3096 7.00006 25.0002 7.00006ZM12.1668 5.05173C12.1668 4.86506 12.4118 4.66673 12.7502 4.66673H16.2502C16.5885 4.66673 16.8335 4.86506 16.8335 5.05173V7.00006H12.1668V5.05173ZM21.5002 22.1667C21.5002 22.4761 21.3772 22.7729 21.1585 22.9917C20.9397 23.2105 20.6429 23.3334 20.3335 23.3334H8.66683C8.35741 23.3334 8.06066 23.2105 7.84187 22.9917C7.62308 22.7729 7.50016 22.4761 7.50016 22.1667V9.3334H21.5002V22.1667Z" fill="#637381"/>
                  <path d="M11.0002 19.8334C11.3096 19.8334 11.6063 19.7105 11.8251 19.4917C12.0439 19.2729 12.1668 18.9761 12.1668 18.6667V14.0001C12.1668 13.6906 12.0439 13.3939 11.8251 13.1751C11.6063 12.9563 11.3096 12.8334 11.0002 12.8334C10.6907 12.8334 10.394 12.9563 10.1752 13.1751C9.95641 13.3939 9.8335 13.6906 9.8335 14.0001V18.6667C9.8335 18.9761 9.95641 19.2729 10.1752 19.4917C10.394 19.7105 10.6907 19.8334 11.0002 19.8334Z" fill="#637381"/>
                  <path d="M18.0002 19.8334C18.3096 19.8334 18.6063 19.7105 18.8251 19.4917C19.0439 19.2729 19.1668 18.9761 19.1668 18.6667V14.0001C19.1668 13.6906 19.0439 13.3939 18.8251 13.1751C18.6063 12.9563 18.3096 12.8334 18.0002 12.8334C17.6907 12.8334 17.394 12.9563 17.1752 13.1751C16.9564 13.3939 16.8335 13.6906 16.8335 14.0001V18.6667C16.8335 18.9761 16.9564 19.2729 17.1752 19.4917C17.394 19.7105 17.6907 19.8334 18.0002 19.8334Z" fill="#637381"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="left_content">
            <div class="left_head">YETI - 20oz Ringneck Tumbler</div>
            <div class="content_img shadow_box">
              <%= image_tag "IMG" %>
              <div class="delete_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="28" viewBox="0 0 29 28" fill="none">
                  <path d="M25.0002 7.00006H19.1668V5.05173C19.1395 4.30485 18.8171 3.5993 18.2703 3.08974C17.7236 2.58018 16.9971 2.30819 16.2502 2.3334H12.7502C12.0032 2.30819 11.2767 2.58018 10.73 3.08974C10.1833 3.5993 9.86087 4.30485 9.8335 5.05173V7.00006H4.00016C3.69074 7.00006 3.394 7.12298 3.1752 7.34177C2.95641 7.56056 2.8335 7.85731 2.8335 8.16673C2.8335 8.47615 2.95641 8.77289 3.1752 8.99169C3.394 9.21048 3.69074 9.3334 4.00016 9.3334H5.16683V22.1667C5.16683 23.095 5.53558 23.9852 6.19196 24.6416C6.84833 25.298 7.73857 25.6667 8.66683 25.6667H20.3335C21.2618 25.6667 22.152 25.298 22.8084 24.6416C23.4647 23.9852 23.8335 23.095 23.8335 22.1667V9.3334H25.0002C25.3096 9.3334 25.6063 9.21048 25.8251 8.99169C26.0439 8.77289 26.1668 8.47615 26.1668 8.16673C26.1668 7.85731 26.0439 7.56056 25.8251 7.34177C25.6063 7.12298 25.3096 7.00006 25.0002 7.00006ZM12.1668 5.05173C12.1668 4.86506 12.4118 4.66673 12.7502 4.66673H16.2502C16.5885 4.66673 16.8335 4.86506 16.8335 5.05173V7.00006H12.1668V5.05173ZM21.5002 22.1667C21.5002 22.4761 21.3772 22.7729 21.1585 22.9917C20.9397 23.2105 20.6429 23.3334 20.3335 23.3334H8.66683C8.35741 23.3334 8.06066 23.2105 7.84187 22.9917C7.62308 22.7729 7.50016 22.4761 7.50016 22.1667V9.3334H21.5002V22.1667Z" fill="#637381"/>
                  <path d="M11.0002 19.8334C11.3096 19.8334 11.6063 19.7105 11.8251 19.4917C12.0439 19.2729 12.1668 18.9761 12.1668 18.6667V14.0001C12.1668 13.6906 12.0439 13.3939 11.8251 13.1751C11.6063 12.9563 11.3096 12.8334 11.0002 12.8334C10.6907 12.8334 10.394 12.9563 10.1752 13.1751C9.95641 13.3939 9.8335 13.6906 9.8335 14.0001V18.6667C9.8335 18.9761 9.95641 19.2729 10.1752 19.4917C10.394 19.7105 10.6907 19.8334 11.0002 19.8334Z" fill="#637381"/>
                  <path d="M18.0002 19.8334C18.3096 19.8334 18.6063 19.7105 18.8251 19.4917C19.0439 19.2729 19.1668 18.9761 19.1668 18.6667V14.0001C19.1668 13.6906 19.0439 13.3939 18.8251 13.1751C18.6063 12.9563 18.3096 12.8334 18.0002 12.8334C17.6907 12.8334 17.394 12.9563 17.1752 13.1751C16.9564 13.3939 16.8335 13.6906 16.8335 14.0001V18.6667C16.8335 18.9761 16.9564 19.2729 17.1752 19.4917C17.394 19.7105 17.6907 19.8334 18.0002 19.8334Z" fill="#637381"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="right_wrap">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M24.5002 7.00006H18.6668V5.05173C18.6395 4.30485 18.3171 3.5993 17.7703 3.08974C17.2236 2.58018 16.4971 2.30819 15.7502 2.3334H12.2502C11.5032 2.30819 10.7767 2.58018 10.23 3.08974C9.68326 3.5993 9.36087 4.30485 9.3335 5.05173V7.00006H3.50016C3.19074 7.00006 2.894 7.12298 2.6752 7.34177C2.45641 7.56056 2.3335 7.85731 2.3335 8.16673C2.3335 8.47615 2.45641 8.77289 2.6752 8.99169C2.894 9.21048 3.19074 9.3334 3.50016 9.3334H4.66683V22.1667C4.66683 23.095 5.03558 23.9852 5.69196 24.6416C6.34833 25.298 7.23857 25.6667 8.16683 25.6667H19.8335C20.7618 25.6667 21.652 25.298 22.3084 24.6416C22.9647 23.9852 23.3335 23.095 23.3335 22.1667V9.3334H24.5002C24.8096 9.3334 25.1063 9.21048 25.3251 8.99169C25.5439 8.77289 25.6668 8.47615 25.6668 8.16673C25.6668 7.85731 25.5439 7.56056 25.3251 7.34177C25.1063 7.12298 24.8096 7.00006 24.5002 7.00006ZM11.6668 5.05173C11.6668 4.86506 11.9118 4.66673 12.2502 4.66673H15.7502C16.0885 4.66673 16.3335 4.86506 16.3335 5.05173V7.00006H11.6668V5.05173ZM21.0002 22.1667C21.0002 22.4761 20.8772 22.7729 20.6585 22.9917C20.4397 23.2105 20.1429 23.3334 19.8335 23.3334H8.16683C7.85741 23.3334 7.56066 23.2105 7.34187 22.9917C7.12308 22.7729 7.00016 22.4761 7.00016 22.1667V9.3334H21.0002V22.1667Z" fill="#637381"/>
            <path d="M10.5002 19.8334C10.8096 19.8334 11.1063 19.7105 11.3251 19.4917C11.5439 19.2729 11.6668 18.9761 11.6668 18.6667V14.0001C11.6668 13.6906 11.5439 13.3939 11.3251 13.1751C11.1063 12.9563 10.8096 12.8334 10.5002 12.8334C10.1907 12.8334 9.894 12.9563 9.6752 13.1751C9.45641 13.3939 9.3335 13.6906 9.3335 14.0001V18.6667C9.3335 18.9761 9.45641 19.2729 9.6752 19.4917C9.894 19.7105 10.1907 19.8334 10.5002 19.8334Z" fill="#637381"/>
            <path d="M17.5002 19.8334C17.8096 19.8334 18.1063 19.7105 18.3251 19.4917C18.5439 19.2729 18.6668 18.9761 18.6668 18.6667V14.0001C18.6668 13.6906 18.5439 13.3939 18.3251 13.1751C18.1063 12.9563 17.8096 12.8334 17.5002 12.8334C17.1907 12.8334 16.894 12.9563 16.6752 13.1751C16.4564 13.3939 16.3335 13.6906 16.3335 14.0001V18.6667C16.3335 18.9761 16.4564 19.2729 16.6752 19.4917C16.894 19.7105 17.1907 19.8334 17.5002 19.8334Z" fill="#637381"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9 18C8.45 18 7.979 17.804 7.587 17.412C7.195 17.02 6.99934 16.5493 7 16V4C7 3.45 7.196 2.979 7.588 2.587C7.98 2.195 8.45067 1.99934 9 2H18C18.55 2 19.021 2.196 19.413 2.588C19.805 2.98 20.0007 3.45067 20 4V16C20 16.55 19.804 17.021 19.412 17.413C19.02 17.805 18.5493 18.0007 18 18H9ZM9 16H18V4H9V16ZM5 22C4.45 22 3.979 21.804 3.587 21.412C3.195 21.02 2.99934 20.5493 3 20V7C3 6.71667 3.096 6.479 3.288 6.287C3.48 6.095 3.71733 5.99934 4 6C4.28333 6 4.521 6.096 4.713 6.288C4.905 6.48 5.00067 6.71734 5 7V20H15C15.2833 20 15.521 20.096 15.713 20.288C15.905 20.48 16.0007 20.7173 16 21C16 21.2833 15.904 21.521 15.712 21.713C15.52 21.905 15.2827 22.0007 15 22H5Z" fill="#637381"/>
          </svg>
        </div>
      </div>

      <div class="content_container">
        <div class="left_wrap">
          <div class="left_content">
            <div class="left_head">YETI - 20oz Ringneck Tumbler</div>
            <div class="content_img">
              <%= image_tag "IMG" %>
              <div class="btn_wrap">
                <button class="outline_btn">Black</button>
                <div class="plus_minus_wrap">
                  <span class="icon">-</span>
                  <span>12</span>
                  <span class="icon right_radius">+</span>
                </div>
              </div>
            </div>
          </div>
          <div class="left_content">
            <div class="left_head">YETI - 20oz Ringneck Tumbler</div>
            <div class="content_img shadow_box processing_img">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M13.375 11H16.375C16.6402 11 16.8946 11.1054 17.0821 11.2929C17.2696 11.4804 17.375 11.7348 17.375 12C17.375 12.2652 17.2696 12.5196 17.0821 12.7071C16.8946 12.8946 16.6402 13 16.375 13H12.375C12.1098 13 11.8554 12.8946 11.6679 12.7071C11.4804 12.5196 11.375 12.2652 11.375 12V8C11.375 7.73478 11.4804 7.48043 11.6679 7.29289C11.8554 7.10536 12.1098 7 12.375 7C12.6402 7 12.8946 7.10536 13.0821 7.29289C13.2696 7.48043 13.375 7.73478 13.375 8V11Z" fill="#212B36"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.8193 3.6853C8.46379 2.58649 10.3972 2 12.375 2C13.6882 2 14.9886 2.25866 16.2018 2.7612C17.4151 3.26375 18.5175 4.00035 19.4461 4.92893C20.3747 5.85752 21.1113 6.95991 21.6138 8.17317C22.1163 9.38642 22.375 10.6868 22.375 12C22.375 13.9778 21.7885 15.9112 20.6897 17.5557C19.5909 19.2002 18.0291 20.4819 16.2018 21.2388C14.3746 21.9957 12.3639 22.1937 10.4241 21.8079C8.48429 21.422 6.70246 20.4696 5.30394 19.0711C3.90541 17.6725 2.953 15.8907 2.56715 13.9509C2.1813 12.0111 2.37933 10.0004 3.13621 8.17317C3.89309 6.3459 5.17481 4.78412 6.8193 3.6853ZM7.93044 18.6518C9.24604 19.5308 10.7928 20 12.375 20C14.4967 20 16.5316 19.1571 18.0319 17.6569C19.5322 16.1566 20.375 14.1217 20.375 12C20.375 10.4177 19.9058 8.87103 19.0268 7.55544C18.1477 6.23984 16.8983 5.21447 15.4365 4.60896C13.9747 4.00346 12.3661 3.84504 10.8143 4.15372C9.26243 4.4624 7.83697 5.22433 6.71815 6.34315C5.59933 7.46197 4.8374 8.88743 4.52872 10.4393C4.22004 11.9911 4.37847 13.5997 4.98397 15.0615C5.58947 16.5233 6.61485 17.7727 7.93044 18.6518Z" fill="#212B36"/>
              </svg>
              <div class="process_text">
                <div>Your image is being processed now.</div>
                <div>Please wait until it is completed.</div>
              </div>
            </div>
          </div>
          <div class="left_content">
            <div class="left_head">YETI - 20oz Ringneck Tumbler</div>
            <div class="content_img shadow_box upload_png">
              <%= image_tag "ic_extra_upload", alt:"icon", class: "upload_icon" %>
              <span class="text_png">PNG</span>
              <span class="text_png upload_txt">Upload Here</span>
              <a href="#">Click here to upload</a>
            </div>
          </div>
        </div>
        <div class="right_wrap">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M24.5002 7.00006H18.6668V5.05173C18.6395 4.30485 18.3171 3.5993 17.7703 3.08974C17.2236 2.58018 16.4971 2.30819 15.7502 2.3334H12.2502C11.5032 2.30819 10.7767 2.58018 10.23 3.08974C9.68326 3.5993 9.36087 4.30485 9.3335 5.05173V7.00006H3.50016C3.19074 7.00006 2.894 7.12298 2.6752 7.34177C2.45641 7.56056 2.3335 7.85731 2.3335 8.16673C2.3335 8.47615 2.45641 8.77289 2.6752 8.99169C2.894 9.21048 3.19074 9.3334 3.50016 9.3334H4.66683V22.1667C4.66683 23.095 5.03558 23.9852 5.69196 24.6416C6.34833 25.298 7.23857 25.6667 8.16683 25.6667H19.8335C20.7618 25.6667 21.652 25.298 22.3084 24.6416C22.9647 23.9852 23.3335 23.095 23.3335 22.1667V9.3334H24.5002C24.8096 9.3334 25.1063 9.21048 25.3251 8.99169C25.5439 8.77289 25.6668 8.47615 25.6668 8.16673C25.6668 7.85731 25.5439 7.56056 25.3251 7.34177C25.1063 7.12298 24.8096 7.00006 24.5002 7.00006ZM11.6668 5.05173C11.6668 4.86506 11.9118 4.66673 12.2502 4.66673H15.7502C16.0885 4.66673 16.3335 4.86506 16.3335 5.05173V7.00006H11.6668V5.05173ZM21.0002 22.1667C21.0002 22.4761 20.8772 22.7729 20.6585 22.9917C20.4397 23.2105 20.1429 23.3334 19.8335 23.3334H8.16683C7.85741 23.3334 7.56066 23.2105 7.34187 22.9917C7.12308 22.7729 7.00016 22.4761 7.00016 22.1667V9.3334H21.0002V22.1667Z" fill="#637381"/>
            <path d="M10.5002 19.8334C10.8096 19.8334 11.1063 19.7105 11.3251 19.4917C11.5439 19.2729 11.6668 18.9761 11.6668 18.6667V14.0001C11.6668 13.6906 11.5439 13.3939 11.3251 13.1751C11.1063 12.9563 10.8096 12.8334 10.5002 12.8334C10.1907 12.8334 9.894 12.9563 9.6752 13.1751C9.45641 13.3939 9.3335 13.6906 9.3335 14.0001V18.6667C9.3335 18.9761 9.45641 19.2729 9.6752 19.4917C9.894 19.7105 10.1907 19.8334 10.5002 19.8334Z" fill="#637381"/>
            <path d="M17.5002 19.8334C17.8096 19.8334 18.1063 19.7105 18.3251 19.4917C18.5439 19.2729 18.6668 18.9761 18.6668 18.6667V14.0001C18.6668 13.6906 18.5439 13.3939 18.3251 13.1751C18.1063 12.9563 17.8096 12.8334 17.5002 12.8334C17.1907 12.8334 16.894 12.9563 16.6752 13.1751C16.4564 13.3939 16.3335 13.6906 16.3335 14.0001V18.6667C16.3335 18.9761 16.4564 19.2729 16.6752 19.4917C16.894 19.7105 17.1907 19.8334 17.5002 19.8334Z" fill="#637381"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M9 18C8.45 18 7.979 17.804 7.587 17.412C7.195 17.02 6.99934 16.5493 7 16V4C7 3.45 7.196 2.979 7.588 2.587C7.98 2.195 8.45067 1.99934 9 2H18C18.55 2 19.021 2.196 19.413 2.588C19.805 2.98 20.0007 3.45067 20 4V16C20 16.55 19.804 17.021 19.412 17.413C19.02 17.805 18.5493 18.0007 18 18H9ZM9 16H18V4H9V16ZM5 22C4.45 22 3.979 21.804 3.587 21.412C3.195 21.02 2.99934 20.5493 3 20V7C3 6.71667 3.096 6.479 3.288 6.287C3.48 6.095 3.71733 5.99934 4 6C4.28333 6 4.521 6.096 4.713 6.288C4.905 6.48 5.00067 6.71734 5 7V20H15C15.2833 20 15.521 20.096 15.713 20.288C15.905 20.48 16.0007 20.7173 16 21C16 21.2833 15.904 21.521 15.712 21.713C15.52 21.905 15.2827 22.0007 15 22H5Z" fill="#637381"/>
          </svg>
        </div>
      </div>
    </div>

    <div class="upload_file_wrap">
      <div class="ship_from_wrap">
        <div class="icon_wrap">
          <div class="icon_text">Upload File</div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M8.11953 14.7099L11.9995 10.8299L15.8795 14.7099C16.2695 15.0999 16.8995 15.0999 17.2895 14.7099C17.6795 14.3199 17.6795 13.6899 17.2895 13.2999L12.6995 8.70994C12.3095 8.31994 11.6795 8.31994 11.2895 8.70994L6.69953 13.2999C6.30953 13.6899 6.30953 14.3199 6.69953 14.7099C7.08953 15.0899 7.72953 15.0999 8.11953 14.7099Z" fill="#212B36"/>
        </svg>
      </div>
      <div class="upload_section">
        <div class="upload_header">
          <% 6.times do  %>
          <div class="header_item">Shiping Label</div>
          <%end%>
        </div>
        <div class="upload_body">
          <% 6.times do %>
          <div class="body_items">
            <svg class="body_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M21.9 12C21.9 11.89 21.84 11.78 21.81 11.67C21.7637 11.4759 21.7036 11.2854 21.63 11.1C21.58 10.98 21.51 10.86 21.45 10.73C21.39 10.6 21.3 10.43 21.21 10.29C21.12 10.15 21 10.08 21 9.99998C21 9.91998 20.8 9.74998 20.69 9.62998C20.58 9.50998 20.48 9.42998 20.37 9.32998L20 8.99998L19.64 8.75998C19.4987 8.6735 19.3517 8.59665 19.2 8.52998L18.81 8.34998C18.6467 8.28949 18.4797 8.23939 18.31 8.19998C18.1756 8.16044 18.0386 8.13037 17.9 8.10998L17.67 7.99998C17.262 6.82103 16.4966 5.7986 15.4803 5.07494C14.4641 4.35129 13.2476 3.9624 12 3.9624C10.7524 3.9624 9.5359 4.35129 8.51967 5.07494C7.50343 5.7986 6.73804 6.82103 6.33 7.99998L6.15 8.04998C6.0114 8.07037 5.8744 8.10044 5.74 8.13998C5.57034 8.17939 5.40334 8.22949 5.24 8.28998L4.85 8.46998C4.69832 8.53665 4.55132 8.6135 4.41 8.69998L4.05 8.99998L3.68 9.30998C3.57 9.40998 3.46 9.49998 3.36 9.60998C3.26 9.71998 3.15 9.85998 3.05 9.97998C2.95 10.1 2.87 10.21 2.79 10.34C2.71 10.47 2.63 10.63 2.55 10.78C2.47 10.93 2.42 11.03 2.37 11.15C2.29644 11.3354 2.23629 11.5259 2.19 11.72C2.19 11.83 2.12 11.94 2.1 12.05C2.03776 12.3629 2.00428 12.6809 2 13C2.00469 13.3053 2.03479 13.6097 2.09 13.91C2.09 14.01 2.14 14.1 2.16 14.2C2.20943 14.3964 2.26952 14.5901 2.34 14.78L2.46 15.07C2.54803 15.2628 2.64823 15.4499 2.76 15.63L2.9 15.85C2.91439 15.878 2.93111 15.9048 2.95 15.93L3 16C3.46574 16.621 4.06966 17.125 4.76393 17.4721C5.45821 17.8193 6.22377 18 7 18H10V16.63C9.69616 16.8062 9.35126 16.8994 9 16.9C8.45825 16.8949 7.94054 16.6756 7.56 16.29C7.37729 16.101 7.23364 15.8778 7.13726 15.6332C7.04087 15.3886 6.99365 15.1275 6.9983 14.8646C7.00294 14.6018 7.05936 14.3424 7.16432 14.1014C7.26928 13.8604 7.42073 13.6424 7.61 13.46L10.61 10.56C10.9832 10.2002 11.4816 9.99945 12 9.99998C12.5296 10.0022 13.0367 10.2144 13.41 10.59L16.41 13.59C16.7825 13.9647 16.9916 14.4716 16.9916 15C16.9916 15.5284 16.7825 16.0353 16.41 16.41C16.0367 16.7856 15.5296 16.9977 15 17C14.6482 17.0033 14.3023 16.9099 14 16.73V18H17C17.7762 18 18.5418 17.8193 19.2361 17.4721C19.9303 17.125 20.5343 16.621 21 16L21.05 15.95C21.0689 15.9248 21.0856 15.898 21.1 15.87L21.24 15.65C21.3518 15.4699 21.452 15.2828 21.54 15.09L21.66 14.8C21.7305 14.6101 21.7906 14.4164 21.84 14.22C21.84 14.12 21.89 14.03 21.91 13.93C21.9663 13.6231 21.9964 13.312 22 13C21.9988 12.6642 21.9654 12.3293 21.9 12Z" fill="#212B36"/>
              <path d="M12.71 11.29C12.5231 11.1068 12.2718 11.0041 12.01 11.0041C11.7482 11.0041 11.4969 11.1068 11.31 11.29L8.31 14.19C8.20389 14.2775 8.11699 14.386 8.05473 14.5087C7.99247 14.6314 7.95619 14.7656 7.94816 14.9029C7.94013 15.0403 7.96053 15.1778 8.00807 15.3069C8.05561 15.436 8.12928 15.5539 8.22447 15.6532C8.31965 15.7525 8.43431 15.8311 8.56126 15.8841C8.68822 15.9371 8.82474 15.9633 8.9623 15.9612C9.09985 15.959 9.23547 15.9285 9.36069 15.8715C9.4859 15.8145 9.59801 15.7323 9.69 15.63L11 14.36L11 20C11 20.2652 11.1054 20.5196 11.2929 20.7071C11.4804 20.8946 11.7348 21 12 21C12.2652 21 12.5196 20.8946 12.7071 20.7071C12.8946 20.5196 13 20.2652 13 20L13 14.41L14.29 15.71C14.383 15.8037 14.4936 15.8781 14.6154 15.9289C14.7373 15.9796 14.868 16.0058 15 16.0058C15.132 16.0058 15.2627 15.9796 15.3846 15.9289C15.5064 15.8781 15.617 15.8037 15.71 15.71C15.8037 15.617 15.8781 15.5064 15.9289 15.3846C15.9797 15.2627 16.0058 15.132 16.0058 15C16.0058 14.868 15.9797 14.7373 15.9289 14.6154C15.8781 14.4935 15.8037 14.3829 15.71 14.29L12.71 11.29Z" fill="#212B36"/>
            </svg>
            <span class="body_text">Upload file</span>
          </div>
          <%end%>
        </div>
      </div>
    </div>

    <div class="additional_comments_wrap">
      <div class="ship_from_wrap">
        <div class="icon_wrap">
          <div class="icon_text">Additional Comments</div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M8.11953 14.7099L11.9995 10.8299L15.8795 14.7099C16.2695 15.0999 16.8995 15.0999 17.2895 14.7099C17.6795 14.3199 17.6795 13.6899 17.2895 13.2999L12.6995 8.70994C12.3095 8.31994 11.6795 8.31994 11.2895 8.70994L6.69953 13.2999C6.30953 13.6899 6.30953 14.3199 6.69953 14.7099C7.08953 15.0899 7.72953 15.0999 8.11953 14.7099Z" fill="#212B36"/>
        </svg>
      </div>
      <div class="leave_any">
        <label>Leave any additional comments here</label>
        <input type="text" placeholder="Priority Order -  Please ship asap! Thanks.">
      </div>
    </div>

    <div class="btn_wrapper mb-5">
      <button class="btn_wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M16.62 6.20999C16.4109 6.04445 16.1444 5.96929 15.8796 6.00121C15.6148 6.03314 15.3738 6.1695 15.21 6.37999L8.21001 15.38L4.78001 11.2C4.56095 10.9084 4.20051 10.7592 3.83944 10.8106C3.47837 10.8621 3.17395 11.106 3.04503 11.4472C2.91612 11.7883 2.98318 12.1726 3.22001 12.45L7.39001 17.63C7.58064 17.865 7.86742 18.001 8.17001 18C8.49172 18.0144 8.80067 17.8729 9.00001 17.62L16.83 7.61999C16.9913 7.40592 17.0598 7.13608 17.0204 6.871C16.9809 6.60592 16.8366 6.36778 16.62 6.20999Z" fill="white"/>
          <path d="M21.62 6.20999C21.4109 6.04445 21.1444 5.96929 20.8796 6.00121C20.6148 6.03314 20.3738 6.1695 20.21 6.37999L13.21 15.38L12.6 14.63L11.34 16.25L12.44 17.62C12.6306 17.855 12.9174 17.991 13.22 17.99C13.5243 17.9886 13.8114 17.8487 14 17.61L21.83 7.60999C21.9881 7.39659 22.0548 7.12907 22.0154 6.86643C21.976 6.6038 21.8337 6.36762 21.62 6.20999Z" fill="white"/>
          <path d="M8.71001 13.06L10 11.44L9.80001 11.2C9.64048 10.979 9.39763 10.8327 9.12768 10.7949C8.85773 10.7571 8.58406 10.8312 8.37001 11C8.16253 11.1667 8.03005 11.4092 8.00189 11.6738C7.97374 11.9384 8.05224 12.2034 8.22001 12.41L8.71001 13.06Z" fill="white"/>
        </svg>
        Marked as Completed
      </button>
      <button class="btn_wrap dark_green">Marked as Completed</button>
      <button class="btn_wrap light_green">Save Order for Later</button>
      <button class="btn_wrap blue_outline fw-bolder">
        Request Revision
        <%= image_tag "blue_user_group", alt:"icon", class:"icon" %>
      </button>
      <button class="btn_wrap btn_black">Shipping
        <%= image_tag "endicon", alt:"icon", class:"btn_icon" %>
      </button>
    </div>
  </div>

  <!-- popup -->
  <div class="shipping_pop_wrap">
    <div class="manual_order_header">
      <button class="back_btn_wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path d="M10.3723 14.25C10.1453 14.2508 9.93023 14.1487 9.78726 13.9725L6.16476 9.47248C5.93727 9.19573 5.93727 8.79673 6.16476 8.51998L9.91476 4.01998C10.1799 3.70104 10.6533 3.65738 10.9723 3.92248C11.2912 4.18758 11.3349 4.66104 11.0698 4.97998L7.71726 8.99998L10.9573 13.02C11.1445 13.2448 11.184 13.5579 11.0583 13.8222C10.9327 14.0864 10.6648 14.2534 10.3723 14.25Z" fill="#212B36"/>
        </svg>
        <span>Back to My Products</span>
      </button>
      <div class="header_text">Order ID #1111</div>
    </div>
    <div class="shiping_form">
      <div class="ship_head">Recipient</div>
      <div class="input_group">
        <input class="input_field" type="text" placeholder="Full Name" name=""/>
        <input class="input_field" type="text" placeholder="Last Name" name=""/>
      </div>
      <div class="input_group">
        <select class="input_field">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
        <select class="input_field">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </div>
        <input class="input_field big_size" type="text" placeholder="Address 1" name=""/>
        <input class="input_field big_size" type="text" placeholder="Address 2 (Optional)" name=""/>
      <div class="input_group">
        <input class="input_field" type="text" placeholder="City" name=""/>
        <input class="input_field" type="text" placeholder="Zip" name=""/>
      </div>

      <button class="calulate_btn">
        Calculate Shipping
        <%= image_tag "endicon", alt:"icon", class:"icon" %>
      </button>
    </div>
  </div>
</div>
