<div class="hero_wrapper">
  <div class="main_panel_wrapper">
    <div class="order_head">
      <div class="head_content">
        <%= link_to new_order_path , class: 'manual_btn' do %>
          <%= image_tag 'ic_plus', alt: 'icon', class: 'plus_icon' %>
          <span>Create Manual Order</span>
        <% end %>
        <div class="create_bell_box">
          <%= image_tag("ic_notifications", class:"create_bell_icon") %>
          <div class="create_notification">1</div>
        </div>
      </div>
    </div>
    <div class="panel_content_wrapper">
      <div class="search_wrap">
        <div class="search_box">
          <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.81 15.9L21.21 19.29C21.3993 19.4778 21.5058 19.7334 21.5058 20C21.5058 20.2666 21.3993 20.5222 21.21 20.71C21.0222 20.8993 20.7666 21.0058 20.5 21.0058C20.2334 21.0058 19.9778 20.8993 19.79 20.71L16.4 17.31C15.0025 18.407 13.2767 19.0022 11.5 19C7.08172 19 3.5 15.4183 3.5 11C3.5 6.58172 7.08172 3 11.5 3C15.9183 3 19.5 6.58172 19.5 11C19.5022 12.7767 18.907 14.5025 17.81 15.9ZM11.5 5C8.18629 5 5.5 7.68629 5.5 11C5.5 14.3137 8.18629 17 11.5 17C14.8137 17 17.5 14.3137 17.5 11C17.5 7.68629 14.8137 5 11.5 5Z" fill="#919EAB"/>
          </svg>
          <input class="search_input" type="text" placeholder="Search Order...">
        </div>
      </div>

      <div class="panel_table_wrap">
        <ul class="table_header_row" id="tabs-nav">
          <li class="table_header_col">All Orders</li>
          <li class="table_header_col">
            <div class="col_icon">1</div>
            <div>On Hold</div>
          </li>
          <li class="table_header_col">
            <div class="col_icon">1</div>
            <div>Rejected</div>
          </li>
          <li class="table_header_col active">
            <div class="col_icon">1</div>
            <div>In Production</div>
          </li>
          <li class="table_header_col">Fulfilled</li>
        </ul>
        <table class="table custom_table">
          <thead class="table_thead">
            <tr>
              <th class="align-middle" scope="col"><div class="table_checkbox"><input type="checkbox"> </div></th>
              <th scope="col">Order Id</th>
              <th scope="col">Etsy/Amazon Order ID</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Total Items</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
              <th scope="col">Assignee 
                <svg class="th_icon" xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                  <path d="M15 9.5L13.9425 8.4425L9.75 12.6275V3.5H8.25V12.6275L4.065 8.435L3 9.5L9 15.5L15 9.5Z" fill="#919EAB"/>
                </svg>
              </th>
              <th scope="col">Order Date</th>
              <th scope="col">Order by 
                <svg class="th_icon" xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                  <path d="M4.50008 8.34509C4.49966 8.70007 4.62149 9.04438 4.84509 9.32009L8.00259 13.1451C8.24449 13.4489 8.6117 13.626 9.00009 13.626C9.38847 13.626 9.75568 13.4489 9.99759 13.1451L13.1551 9.32009C13.5315 8.85027 13.6072 8.20695 13.3501 7.66259C13.1413 7.18901 12.6751 6.88112 12.1576 6.87509L5.84259 6.87509C5.32508 6.88112 4.85883 7.18901 4.65009 7.66259C4.55259 7.87699 4.50147 8.10957 4.50008 8.34509Z" fill="#919EAB"/>
                </svg>
              </th>
              <th scope="col">More</th>
            </tr>
          </thead>
          <tbody class="table_tbody">
            <tr>
              <td class="align-middle"><div class="table_checkbox"><input type="checkbox"></div></td>
              <td class="align-middle">000001</td>
              <td class="align-middle">#112-8093440-7454611</td>
              <td class="align-middle">First Last Name</td>
              <td class="align-middle total_items align-middle"> <div>2</div></td>
              <td class="align-middle">$00.00</td>
              <td class="align-middle"><div class="status">In Production</div></td>
              <td class="align-middle">
                <div class="assignee">
                  <div>Rudy <%= image_tag "Divider", alt:"icon", class:"divider_icon" %></div>
                  <div>$3 <%= image_tag "Divider", alt:"icon", class:"divider_icon" %></div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.3335 7.99967C1.3335 4.31778 4.31826 1.33301 8.00016 1.33301C9.76827 1.33301 11.464 2.03539 12.7142 3.28563C13.9645 4.53587 14.6668 6.23156 14.6668 7.99967C14.6668 11.6816 11.6821 14.6663 8.00016 14.6663C4.31826 14.6663 1.3335 11.6816 1.3335 7.99967ZM7.82016 10.4063L10.8668 6.40634V6.38634C11.0121 6.1958 11.0447 5.94222 10.9523 5.72113C10.86 5.50003 10.6567 5.34501 10.419 5.31446C10.1814 5.28391 9.94545 5.38247 9.80016 5.57301L7.28016 8.90634L6.1935 7.51968C6.04702 7.33152 5.81128 7.23579 5.57509 7.26857C5.3389 7.30134 5.13814 7.45763 5.04843 7.67857C4.95871 7.8995 4.99368 8.15152 5.14016 8.33967L6.76683 10.413C6.89404 10.574 7.08831 10.6674 7.2935 10.6663C7.49983 10.6658 7.6943 10.5698 7.82016 10.4063Z" fill="#00AB55"/>
                    </svg>
                  </div>
                </div>
              </td>
              <td class="align-middle">mm/dd/yyyy</td>
              <td class="align-middle">AMAZON</td>
              <td class="align-middle">
                <div class="actions">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                      <path d="M14.6224 13.0002C14.6224 13.8632 13.896 14.5627 12.9998 14.5627C12.1037 14.5627 11.3772 13.8632 11.3772 13.0002C11.3772 12.1373 12.1037 11.4377 12.9998 11.4377C13.896 11.4377 14.6224 12.1373 14.6224 13.0002Z" fill="#212B36"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7078 5.70855C19.1765 5.52105 22.9842 11.3231 23.6765 12.4794C23.8697 12.8017 23.8697 13.1988 23.6765 13.521C22.7462 15.0835 19.2739 20.146 13.2919 20.2919H13.0215C6.65007 20.2919 3.00464 14.6565 2.32315 13.521C2.12991 13.1988 2.12991 12.8017 2.32315 12.4794C3.26425 10.9169 6.72579 5.85438 12.7078 5.70855ZM9.21377 13.0002C9.21377 15.0137 10.9088 16.646 12.9998 16.646C15.0908 16.646 16.7859 15.0137 16.7859 13.0002C16.7859 10.9867 15.0908 9.35438 12.9998 9.35438C10.9088 9.35438 9.21377 10.9867 9.21377 13.0002Z" fill="#212B36"/>
                    </svg>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="none">
                      <path d="M16.731 13C16.731 14.1966 15.7236 15.1667 14.481 15.1667C13.2383 15.1667 12.231 14.1966 12.231 13C12.231 11.8034 13.2383 10.8333 14.481 10.8333C15.7236 10.8333 16.731 11.8034 16.731 13Z" fill="#212B36"/>
                      <path d="M16.731 5.41667C16.731 6.61328 15.7236 7.58333 14.481 7.58333C13.2383 7.58333 12.231 6.61328 12.231 5.41667C12.231 4.22005 13.2383 3.25 14.481 3.25C15.7236 3.25 16.731 4.22005 16.731 5.41667Z" fill="#212B36"/>
                      <path d="M16.731 20.5833C16.731 21.78 15.7236 22.75 14.481 22.75C13.2383 22.75 12.231 21.78 12.231 20.5833C12.231 19.3867 13.2383 18.4167 14.481 18.4167C15.7236 18.4167 16.731 19.3867 16.731 20.5833Z" fill="#212B36"/>
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="align-middle"><div class="table_checkbox"><input type="checkbox"></div></td>
              <td class="align-middle">000001</td>
              <td class="align-middle">#112-8093440-7454611</td>
              <td class="align-middle">First Last Name</td>
              <td class="align-middle total_items align-middle"> <div>2</div></td>
              <td class="align-middle">$00.00</td>
              <td class="align-middle"><div class="status status_rejected">In Production</div></td>
              <td class="align-middle">
                <div class="assignee white_bg">
                  <div>Rudy <%= image_tag "Divider", alt:"icon", class:"divider_icon" %></div>
                  <div>$3 <%= image_tag "Divider", alt:"icon", class:"divider_icon" %></div>
                  <div>
                    <%= image_tag "watch", alt:"watch icon", class:"watch_icon" %>
                  </div>
                </div>
              </td>
              <td class="align-middle">mm/dd/yyyy</td>
              <td class="align-middle">AMAZON</td>
              <td class="align-middle">
                <div class="actions">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                      <path d="M14.6224 13.0002C14.6224 13.8632 13.896 14.5627 12.9998 14.5627C12.1037 14.5627 11.3772 13.8632 11.3772 13.0002C11.3772 12.1373 12.1037 11.4377 12.9998 11.4377C13.896 11.4377 14.6224 12.1373 14.6224 13.0002Z" fill="#212B36"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7078 5.70855C19.1765 5.52105 22.9842 11.3231 23.6765 12.4794C23.8697 12.8017 23.8697 13.1988 23.6765 13.521C22.7462 15.0835 19.2739 20.146 13.2919 20.2919H13.0215C6.65007 20.2919 3.00464 14.6565 2.32315 13.521C2.12991 13.1988 2.12991 12.8017 2.32315 12.4794C3.26425 10.9169 6.72579 5.85438 12.7078 5.70855ZM9.21377 13.0002C9.21377 15.0137 10.9088 16.646 12.9998 16.646C15.0908 16.646 16.7859 15.0137 16.7859 13.0002C16.7859 10.9867 15.0908 9.35438 12.9998 9.35438C10.9088 9.35438 9.21377 10.9867 9.21377 13.0002Z" fill="#212B36"/>
                    </svg>
                    <%= image_tag "dark_edit", alt:"icon", class:"more_icon"  %>
                    <%= image_tag "close", alt:"icon", class:"more_icon"  %>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26" viewBox="0 0 28 26" fill="none">
                      <path d="M16.731 13C16.731 14.1966 15.7236 15.1667 14.481 15.1667C13.2383 15.1667 12.231 14.1966 12.231 13C12.231 11.8034 13.2383 10.8333 14.481 10.8333C15.7236 10.8333 16.731 11.8034 16.731 13Z" fill="#212B36"/>
                      <path d="M16.731 5.41667C16.731 6.61328 15.7236 7.58333 14.481 7.58333C13.2383 7.58333 12.231 6.61328 12.231 5.41667C12.231 4.22005 13.2383 3.25 14.481 3.25C15.7236 3.25 16.731 4.22005 16.731 5.41667Z" fill="#212B36"/>
                      <path d="M16.731 20.5833C16.731 21.78 15.7236 22.75 14.481 22.75C13.2383 22.75 12.231 21.78 12.231 20.5833C12.231 19.3867 13.2383 18.4167 14.481 18.4167C15.7236 18.4167 16.731 19.3867 16.731 20.5833Z" fill="#212B36"/>
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table_footer_wrap">
          <div class="content_btn">
            <div class="center">
              <input type="checkbox" >
            </div>
            <div class="content_text">Dense</div>
          </div>
          <div class="pages_content">
            <div>
              Rows per page:
            </div>
            <div class="d-flex align-items-center">
              <div>20</div>
              <div>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M16.3805 9.28957L12.5005 13.1696L8.62047 9.28957C8.23047 8.89957 7.60047 8.89957 7.21047 9.28957C6.82047 9.67957 6.82047 10.3096 7.21047 10.6996L11.8005 15.2896C12.1905 15.6796 12.8205 15.6796 13.2105 15.2896L17.8005 10.6996C18.1905 10.3096 18.1905 9.67957 17.8005 9.28957C17.4105 8.90957 16.7705 8.89957 16.3805 9.28957Z" fill="#212B36"/>
                </svg>
              </div>
            </div>
            <div>6-10 of 99999</div>
            <div class="d-flex">
              <div>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                  <path d="M12.0247 15.8337C11.7726 15.8346 11.5336 15.7212 11.3747 15.5254L7.34973 10.5254C7.09697 10.2179 7.09697 9.77458 7.34973 9.46708L11.5164 4.46708C11.8109 4.1127 12.337 4.06419 12.6914 4.35874C13.0458 4.6533 13.0943 5.17936 12.7997 5.53375L9.07473 10.0004L12.6747 14.4671C12.8828 14.7168 12.9266 15.0648 12.787 15.3584C12.6474 15.652 12.3498 15.8375 12.0247 15.8337Z" fill="#919EAB" fill-opacity="0.8"/>
                </svg>
              </div>
              <div>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                  <path d="M8.83334 15.8336C8.63863 15.834 8.44993 15.7662 8.3 15.6419C8.12958 15.5007 8.02238 15.2974 8.00206 15.0769C7.98173 14.8565 8.04996 14.637 8.19167 14.4669L11.925 10.0003L8.325 5.52528C8.1852 5.35312 8.11978 5.13233 8.14324 4.91179C8.1667 4.69126 8.2771 4.48917 8.45 4.35028C8.62431 4.19691 8.85469 4.12322 9.08565 4.14695C9.31661 4.17067 9.52719 4.28968 9.66667 4.47528L13.6917 9.47528C13.9444 9.78278 13.9444 10.2261 13.6917 10.5336L9.525 15.5336C9.35545 15.7382 9.09853 15.8496 8.83334 15.8336Z" fill="#212B36"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- user dashboard end here -->

