<div class="orders_details_box">
  <div class="order_details_data">
    <div class="order_table_section">
      <div class="order_info_table designer_info_table">
        <div class="thead">
          <div class="thead_row">
            <div class="order_th first">&nbsp;</div>
            <div class="order_th second">Order ID</div>
            <div class="order_th three">Etsy/Amazon Order ID</div>
            <div class="order_th four">Customer Name</div>
            <div class="order_th five">Total Items</div>
            <div class="order_th six">Price</div>
            <div class="order_th seven">Order Status</div>
            <div class="order_th eight">Assignee</div>
            <div class="order_th nine">Order Date</div>
            <div class="order_th ten">Order by</div>
            <div class="order_th last">More Actions</div>
          </div>
        </div>
        <div class="tbody">
          <% orders.each do |order| %>
            <div class="tbody_row">
              <div class="order_td td_icon first">
                <input type="checkbox" name="">
              </div>
              <div class="order_td second">
                <div class="order_id_icon">
                  <span class="order_num"><%= order.id %></span>
                </div>
              </div>
              <div class="order_td three"><%= order.etsy_order_id %></div>
              <div class="order_td four"><%= order.customer_name %></div>
              <div class="order_td five"><%= order.order_products.pluck(:product_quantity).sum %></div>
              <div class="order_td six">$<%= order.price %></div>
              <div class="order_td seven">
                <div class="order_status_icon">
                  <div>
                    <%= order.order_status %>
                  </div>
                </div>
              </div>
              <div class="order_td eight">
                <div class="order_priority_icon">
                  <% if order.assign_details.present? %>
                    <div><%=order.assignee_name%></div>
                  <%else%>
                    <div><%= link_to 'Assignee',assignee_order_path(order), data: {turbo_frame: "assigne-order-modal"}%></div>
                  <%end%>
                </div>
              </div>
              <div class="order_td nine"><%=order.order_date%></div>
              <div class="order_td ten">
                Amazon
              </div>
              <div class="order_td last">
                <div class="more_menu">
                  <% if order.order_status == "onhold" %>
                    <a href="<%= on_hold_popup_order_path(order) %>"  data-turbo-frame="on-hold-order-modal" class= "more_link">
                      <%= image_tag 'View.png', alt: 'icon'%>
                    </a>
                  <% elsif order.order_status == "rejected" %>
                    <a href="<%= rejected_popup_order_path(order) %>"  data-turbo-frame="rejected-order-modal" class= "more_link">
                      <%= image_tag 'View.png', alt: 'icon'%>
                    </a>
                  <% elsif order.order_status == "fullfilled" %>
                    <a href="<%= fullfilled_popup_order_path(order) %>"  data-turbo-frame="fullfilled-order-modal" class= "more_link">
                      <%= image_tag 'View.png', alt: 'icon'%>
                    </a>

                  <% else %>
                    <a href="<%= in_production_popup_order_path(order) %>"  data-turbo-frame="in-production-order-modal" class= "more_link">
                      <%= image_tag 'View.png', alt: 'icon'%>
                    </a>
                  <% end %>

                  <% if order.order_status == "rejected" || order.order_status == "onhold" || order.order_status == "cancel"%>
                    <%= link_to edit_order_path(order), class: 'more_link' do %>
                      <%= image_tag 'edit_row.png', alt: 'icon' %>
                    <% end %>

                    <% case order.order_status %>
                      <% when "rejected" %>
                       <a href="<%= cancel_order_order_path(order) %>"  data-turbo-frame="cancel-order-modal" class= "more_link">
                          <%= image_tag 'close.png', alt: 'icon' %>
                        </a>
                      <% else %>
                        <a href="<%= delete_confirmation_order_path(order) %>"  data-turbo-frame="destroy-order-modal" class= "more_link">
                          <%= image_tag 'delete.png', alt: 'icon' %>
                        </a>
                    <% end %>
                  <% end %>

                  <div class="more_link">
                    <span>&nbsp;</span>
                  </div>
                  <div class="drop_menu">
                    <div class="drop_icon_box">
                      <%= image_tag 'ic_more.png', alt: 'icon', class: 'more_icon' %>
                    </div>
                    <div class="menu_drop">
                      <div class="status_wrapper_pop">
                        <% if order.order_status == "onhold"%>
                          <a href="#" class="status_content">
                            <%= image_tag "download", alt:"icon", class:"icon" %>
                            <div class="content_text">Download ETSY Packing Slip</div>
                          </a>
                          <%unless order.assign_details.present? %>

                            <a href="<%= assignee_order_path(order)%>" class="status_content">
                              <%= image_tag "ic_user_group", alt:"icon", class:"icon" %>
                              <div class="content_text">Assign Order</div>
                            </a>
                          <% else %>
                            <a href="<%= assignee_remove_confirmation_order_path(order)%>" data-turbo-frame="assignee-remove-order-modal" class="status_content">
                              <%= image_tag "orange_user", alt:"icon", class:"icon" %>
                              <div class="content_text">Remove Assignee from the Order</div>
                            </a>
                            <a href="#" class="status_content">
                              <%#= image_tag "ic_user_group", alt:"icon", class:"icon" %>
                              <div class="icon">$</div>
                              <div class="content_text">Update the job price for the assignee.</div>
                            </a>
                            <a href="#" class="status_content">
                              <%= image_tag "info_outline", alt:"icon", class:"icon" %>
                              <div class="content_text">Request Revision from Assignee</div>
                            </a>
                          <%end%>
                        <% elsif order.order_status == "inproduction"%>
                          <div class="status_wrapper_pop">
                            <a href="<%=new_cancel_request_order_path(order)%>" data-turbo-frame="cancel-request-order-modal" class="status_content">
                              <%= image_tag "call", alt:"icon", class:"icon" %>
                              <div class="content_text orange_text">Request Cancellation</div>
                            </a>
                            <a href="<%= update_priority_order_path(order)%>" class="status_content">
                              <%= image_tag "flash", alt:"icon", class:"icon" %>
                              <div class="content_text">Mark Order as Urgent</div>
                            </a>
                           <!--  <a href="#" class="status_content"> -->
                            <%= link_to send_message_order_path(order), class: 'status_content', data: {turbo_frame: "send-message-order-modal"} do %>
                              <%= image_tag "ic_chat", alt:"icon", class:"icon" %>
                              <div class="content_text">Add Additional Comment</div>
                            <%end%>
                          </div>
                        <% elsif order.order_status == "rejected"%>
                          <div class="edit_list_pop">
                            <div class="edit_box">
                              <%= image_tag "download", alt:"icon", class:"icon" %>
                              <div class="edit_text">Print ETSY Packing Slip</div>
                            </div>
                            <div class="edit_box">
                              <a href="<%= request_revision_order_path(order)%>" data-turbo-frame="request-revision-order-modal" class="status_content">
                                <%= image_tag "info_outline", alt:"icon", class:"icon" %>
                                <div class="edit_text">Request Revision</div>
                              </a>
                            </div>
                            <div class="edit_box">
                              <a href="<%= assignee_remove_confirmation_order_path(order)%>" data-turbo-frame="assignee-remove-order-modal" class="status_content">
                                <%= image_tag "orange_user", alt:"icon", class:"icon" %>
                                <div class="edit_text">Remove Assignee from the Order</div>
                              </a>
                            </div>
                          </div>
                        <%end%>
                        <a href="<%= new_order_path(order)%>" class="status_content">
                          <%= image_tag "bxs_copy", alt:"icon", class:"icon" %>
                          <div class="content_text">Duplicate Order
                            <div class="sub_text">Creates a new manual order</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="table_footer_wrap">
    <div class="content_btn">
      <div class="center">
        <input type="checkbox" >
      </div>
      <div class="content_text">Dense</div>
    </div>
    <div class="pages_content">
      <div>
        Rows per page:
      </div>
      <div>
        <select id="rowsPerPage" onchange="changeRowsPerPage(this.value)">
          <option value="">None</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div><%= orders.current_page%>-<%= orders.limit_value%> of <%= orders.count %></div>
      <div class="d-flex">
        <div class="pagination">
          <%= will_paginate orders %>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
            <path d="M12.0247 15.8337C11.7726 15.8346 11.5336 15.7212 11.3747 15.5254L7.34973 10.5254C7.09697 10.2179 7.09697 9.77458 7.34973 9.46708L11.5164 4.46708C11.8109 4.1127 12.337 4.06419 12.6914 4.35874C13.0458 4.6533 13.0943 5.17936 12.7997 5.53375L9.07473 10.0004L12.6747 14.4671C12.8828 14.7168 12.9266 15.0648 12.787 15.3584C12.6474 15.652 12.3498 15.8375 12.0247 15.8337Z" fill="#919EAB" fill-opacity="0.8"/>
          </svg>
        </div>
        <div class="pagination">
          <%= will_paginate orders %>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
            <path d="M8.83334 15.8336C8.63863 15.834 8.44993 15.7662 8.3 15.6419C8.12958 15.5007 8.02238 15.2974 8.00206 15.0769C7.98173 14.8565 8.04996 14.637 8.19167 14.4669L11.925 10.0003L8.325 5.52528C8.1852 5.35312 8.11978 5.13233 8.14324 4.91179C8.1667 4.69126 8.2771 4.48917 8.45 4.35028C8.62431 4.19691 8.85469 4.12322 9.08565 4.14695C9.31661 4.17067 9.52719 4.28968 9.66667 4.47528L13.6917 9.47528C13.9444 9.78278 13.9444 10.2261 13.6917 10.5336L9.525 15.5336C9.35545 15.7382 9.09853 15.8496 8.83334 15.8336Z" fill="#212B36"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>