<div class="orders_wrapper">
  <div class="order_head">
    <div class="head_content">
      <%= link_to new_order_path , class: 'manual_btn' do %>
        <%= image_tag 'ic_plus', alt: 'icon', class: 'plus_icon' %>
        <span>Create Manual Order</span>
      <% end %>
      <div class="create_bell_box">
        <%= image_tag "ic_notifications", alt: 'icon', class: "create_bell_icon" %>
        <div class="create_notification">1</div>
      </div>
      <div class="account_icon"></div>
    </div>
  </div>

  <div class="order_info_wrap">
    <div class="search_wrap">
      <div class="search_box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.31 15.9L20.71 19.29C20.8993 19.4778 21.0058 19.7334 21.0058 20C21.0058 20.2666 20.8993 20.5222 20.71 20.71C20.5222 20.8993 20.2666 21.0058 20 21.0058C19.7334 21.0058 19.4778 20.8993 19.29 20.71L15.9 17.31C14.5025 18.407 12.7767 19.0022 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11C19.0022 12.7767 18.407 14.5025 17.31 15.9ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z" fill="#919EAB"/>
        </svg>
        <input class="search_input" type="text" placeholder="Search by order number, customer, or product name" />
      </div>
    </div>

    <div class="tabs_box designer_tab_box">
      <ul class="order_tabs_wrap" id="tabs-nav">
        <li class="tabs_items"><a href="#tab1"><span class="tabs_notify"><%= @orders.count%></span>All Orders</a></li>
        <li class="tabs_items"><a href="#tab2"><span class="tabs_notify"><%= @orders.new_orders.count%></span> On Hold</a></li>
        <li class="tabs_items"><a href="#tab3"><span class="tabs_notify rejected"><%= @orders.rejected_order.count%></span> Rejected</a></li>
        <li class="tabs_items"><a href="#tab4"><span class="tabs_notify production"><%= @orders.inproduction.count%></span> In Production</a></li>
        <li class="tabs_items"><a href="#tab5"><span class="tabs_notify production"><%= @orders.fullfilled_order.count%></span>Fulfilled</a></li>
      </ul>

      <div id="tabs-content">

        <div id="tab1" class="tab-content">
          <%= render "admin_all_order", orders: @orders %>
        </div>
        <div id="tab2" class="tab-content">
          <%= render "admin_all_order", orders: @orders.new_orders %>
        </div>
        <div id="tab3" class="tab-content">
          <%= render "admin_all_order", orders: @orders.rejected_order %>
        </div>
        <div id="tab4" class="tab-content">
          <%= render "admin_all_order", orders: @orders.inproduction %>
        </div>
        <div id="tab5" class="tab-content">
          <%= render "admin_all_order", orders: @orders.fullfilled_order %>
        </div>
      </div> <!-- END tabs-content -->
    </div>
  </div>
</div>
<turbo-frame id="on-hold-order-modal"></turbo-frame>
<turbo-frame id="in-production-order-modal"></turbo-frame>
<turbo-frame id="rejected-order-modal"></turbo-frame>
<turbo-frame id="fullfilled-order-modal"></turbo-frame>
<turbo-frame id="destroy-order-modal"></turbo-frame>
<turbo-frame id="cancel-order-modal"></turbo-frame>
<turbo-frame id="assignee-remove-order-modal"></turbo-frame>
<turbo-frame id="cancel-request-order-modal"></turbo-frame>
<turbo-frame id="send-message-order-modal"></turbo-frame>
<turbo-frame id="request-revision-order-modal"></turbo-frame>
<turbo-frame id="assigne-order-modal"></turbo-frame>