<div class="orders_details_box">
  <div class="order_details_data">
    <div class="order_table_section">
      <div class="order_info_table custom_info_table">
        <div class="thead">
          <div class="thead_row">
            <div class="order_th first">&nbsp;</div>
            <div class="order_th second">Order ID</div>
            <div class="order_th three">Total Items</div>
            <div class="order_th four">Total</div>
            <div class="order_th five">Ship to</div>
            <div class="order_th six">Status</div>
            <div class="order_th seven">Priority</div>
            <div class="order_th eight">Order Received</div>
            <div class="order_th nine">More Actions</div>
            <div class="order_th last">&nbsp;</div>
          </div>
        </div>
        <div class="tbody">
          <% orders.each do |order| %>
            <div class="tbody_row">
              <div class="order_td first td_icon">
                <input type="checkbox" name="">
              </div>

              <div class="order_td second">
                <div class="order_id_icon">
                  <svg class="collapse_show" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M11.575 16.55C11.4417 16.55 11.3123 16.525 11.187 16.475C11.0617 16.425 10.9577 16.3583 10.875 16.275L6.275 11.675C6.09167 11.4917 6 11.2583 6 10.975C6 10.6917 6.09167 10.4583 6.275 10.275C6.45833 10.0917 6.69167 10 6.975 10C7.25833 10 7.49167 10.0917 7.675 10.275L11.575 14.175L15.475 10.275C15.6583 10.0917 15.8917 10 16.175 10C16.4583 10 16.6917 10.0917 16.875 10.275C17.0583 10.4583 17.15 10.6917 17.15 10.975C17.15 11.2583 17.0583 11.4917 16.875 11.675L12.275 16.275C12.175 16.375 12.0667 16.446 11.95 16.488C11.8333 16.53 11.7083 16.5507 11.575 16.55Z" fill="black"/>
                  </svg>

                  <span class="order_num"><%= order.id %></span>
                </div>
              </div>

              <div class="order_td three"><%= order.total_quantity %></div>

              <div class="order_td four">$<%= order.price %></div>

              <% if order.address.present? %>
                <div class="order_td five"><%= order.address.fullname %></div>
              <% else %>
                <div class="order_td five">-</div>
              <% end %>

              <div class="order_td six">
                <div class="order_status_icon">
                  <% if order.order_status == "inproduction" %>
                    <div class="custom_badge">
                      NEW
                    </div>
                  <% else %>
                    <div class="fulfiled custom_badge">
                      Fulfilled
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="order_td seven">
                <div class="order_priority_icon">
                  <% if order.URGENT? %>
                    <div><%= order.priority %></div>
                  <% end %>
                </div>
              </div>
              <div class="order_td eight"><%= order.order_received %> ago</div>
              <div class="order_td nine">
                <div class="order_more_action">
                  <div class="more_icon_group">
                    <%= link_to download_shippo_label_order_path(order), class: 'icon blue', data: { 'turbo-frame': 'download-labels-modal' } do %>
                      <%= image_tag("fluent_vehicle") %>
                    <% end %>

                    <div class="icon order_reject" id="order_reject_<%= order.id %>" data-id="<%= order.id %>">
                      <a href="<%= reject_order_path(order) %>"  data-turbo-frame="reject-order-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                          <path d="M10 9.5V5.5L3 12.5L10 19.5V15.4C15 15.4 18.5 17 21 20.5C20 15.5 17 10.5 10 9.5Z" fill="#212B36"/>
                        </svg>
                      </a>
                    </div>
                    <div class="icon order_confirm" id="order_confirm_<%= order.id %>" data-id="<%= order.id %>">
                      <a href="<%= confirm_order_path(order) %>" data-turbo-frame="confirm-order-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                          <path d="M9.86009 18.4999C9.58292 18.499 9.31856 18.3832 9.13009 18.1799L4.27009 13.0099C3.89177 12.6068 3.91192 11.9733 4.31509 11.5949C4.71826 11.2166 5.35177 11.2368 5.73009 11.6399L9.85009 16.0299L18.2601 6.82994C18.4926 6.54035 18.8665 6.40351 19.2311 6.47455C19.5956 6.54559 19.8908 6.81281 19.9976 7.16853C20.1044 7.52424 20.0052 7.90985 19.7401 8.16994L10.6001 18.1699C10.4134 18.3769 10.1488 18.4965 9.87009 18.4999H9.86009Z" fill="#212B36"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order_td last">
                <div class="drop_menu">
                  <div class="drop_icon_box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                      <path d="M14 12.5C14 13.6046 13.1046 14.5 12 14.5C10.8954 14.5 10 13.6046 10 12.5C10 11.3954 10.8954 10.5 12 10.5C13.1046 10.5 14 11.3954 14 12.5Z" fill="#212B36"/>
                      <path d="M14 5.5C14 6.60457 13.1046 7.5 12 7.5C10.8954 7.5 10 6.60457 10 5.5C10 4.39543 10.8954 3.5 12 3.5C13.1046 3.5 14 4.39543 14 5.5Z" fill="#212B36"/>
                      <path d="M14 19.5C14 20.6046 13.1046 21.5 12 21.5C10.8954 21.5 10 20.6046 10 19.5C10 18.3954 10.8954 17.5 12 17.5C13.1046 17.5 14 18.3954 14 19.5Z" fill="#212B36"/>
                    </svg>
                  </div>
                  <div class="menu_drop">
                    <div class="admin_contact_pop">
                      <%= link_to send_message_order_path(order), class: 'contact_content contact_admin', data: {turbo_frame: "send-message-order-modal"} do %>
                        <div class="icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.08824 2.5H19.5C21.2056 2.5 22.5882 3.88265 22.5882 5.58824V15.8824C22.5882 17.5879 21.2056 18.9706 19.5 18.9706H8.74265C8.54396 18.9629 8.34732 19.013 8.17647 19.1147L3.55441 21.9147C3.39552 22.009 3.21417 22.0588 3.02941 22.0588C2.85257 22.0583 2.67885 22.0122 2.525 21.925C2.20126 21.743 2.00064 21.4008 2 21.0294V5.58824C2 3.88265 3.38265 2.5 5.08824 2.5ZM7.14706 10.7353C7.14706 11.3038 7.60794 11.7647 8.17647 11.7647C8.745 11.7647 9.20588 11.3038 9.20588 10.7353C9.20588 10.1668 8.745 9.70588 8.17647 9.70588C7.60794 9.70588 7.14706 10.1668 7.14706 10.7353ZM12.2941 11.7647C11.7256 11.7647 11.2647 11.3038 11.2647 10.7353C11.2647 10.1668 11.7256 9.70588 12.2941 9.70588C12.8626 9.70588 13.3235 10.1668 13.3235 10.7353C13.3235 11.3038 12.8626 11.7647 12.2941 11.7647ZM15.3824 10.7353C15.3824 11.3038 15.8432 11.7647 16.4118 11.7647C16.9803 11.7647 17.4412 11.3038 17.4412 10.7353C17.4412 10.1668 16.9803 9.70588 16.4118 9.70588C15.8432 9.70588 15.3824 10.1668 15.3824 10.7353Z" fill="#637381"/>
                          </svg>
                        </div>
                        <div class="contact_text">
                          <h5>Contact Admin</h5>
                          <p>Admin will review your message.</p>
                        </div>
                      <% end %>
                      <%= link_to send_message_order_path(order), class: 'contact_content contact_admin', data: {turbo_frame: "send-message-order-modal"} do %>
                        <div class="icon">
                          <%= image_tag 'dollar.png', alt: 'icon', class: 'currency_icon' %>
                        </div>
                        <div class="contact_text">
                          <p>----</p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="collapse_data">
                <div class="message_wrapper">
                  <% messages = order.messages.order(created_at: :desc) %>
                  <% if messages.present? %>
                    <div class="msg_to_section">
                      <svg class="msg_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.08824 2.5H19.5C21.2056 2.5 22.5882 3.88265 22.5882 5.58824V15.8824C22.5882 17.5879 21.2056 18.9706 19.5 18.9706H8.74265C8.54396 18.9629 8.34732 19.013 8.17647 19.1147L3.55441 21.9147C3.39552 22.009 3.21417 22.0588 3.02941 22.0588C2.85257 22.0583 2.67885 22.0122 2.525 21.925C2.20126 21.743 2.00064 21.4008 2 21.0294V5.58824C2 3.88265 3.38265 2.5 5.08824 2.5ZM7.14706 10.7353C7.14706 11.3038 7.60794 11.7647 8.17647 11.7647C8.745 11.7647 9.20588 11.3038 9.20588 10.7353C9.20588 10.1668 8.745 9.70588 8.17647 9.70588C7.60794 9.70588 7.14706 10.1668 7.14706 10.7353ZM12.2941 11.7647C11.7256 11.7647 11.2647 11.3038 11.2647 10.7353C11.2647 10.1668 11.7256 9.70588 12.2941 9.70588C12.8626 9.70588 13.3235 10.1668 13.3235 10.7353C13.3235 11.3038 12.8626 11.7647 12.2941 11.7647ZM15.3824 10.7353C15.3824 11.3038 15.8432 11.7647 16.4118 11.7647C16.9803 11.7647 17.4412 11.3038 17.4412 10.7353C17.4412 10.1668 16.9803 9.70588 16.4118 9.70588C15.8432 9.70588 15.3824 10.1668 15.3824 10.7353Z" fill="#212B36"/>
                      </svg>

                      <div class="messages">
                        <% messages.order(created_at: :desc).each do |message| %>
                          <% is_author = message.sender == current_user %>

                          <div class="msg_content">
                            <div class="msg_text">
                              <div class="msg_head">Message <%= is_author ? 'to' : 'from' %> <%= current_user.admin? ? 'Producer' : 'Admin' %>:</div>
                              <div class="msg_date"><%= message.created_on %></div>
                            </div>

                            <div class="msg_bottom_head"><%= message.review_message %></div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>

                  <% if order.cancel_request.present? && order.cancel_request.status == "pending"%>
                    <div class="msg_to_section cancel_section">
                      <%= image_tag("Img_Avatar.girl", class:"msg_icon rounded-5")%>
                      <div class="msg_content">
                        <div class="msg_text">
                          <div class="msg_head">Cancellation Requested for this order.</div>
                          <div class="msg_date"><%= order.cancel_request.created_at.strftime('%B %e, %Y')%></div>
                        </div>
                        <% if order.cancel_request.cancel_reason.present? %>
                          <div class="msg_bottom_head">Important: <%= order.cancel_request.cancel_reason %></div>
                        <% end %>
                      </div>
                      <div class="cancel_btn_group">
                        <a href="<%= send_message_order_path(order) %>"  data-turbo-frame="send-message-order-modal" class="contact_btn contact_admin " >Contact Admin
                          <%= image_tag "chat", alt: 'icon' %>
                        </a>

                        <a href="<%= cancel_request_order_path(order) %>"  data-turbo-frame="cancel-request-order-modal" class="contact_btn accept_btn order_cancel " >Accept Request
                        </a>
                      </div>
                    </div>
                  <% end %>

                  <% if order.additional_comment.present? %>
                    <div class="note_section">
                      <%= image_tag "Img_Avatar.girl", alt: 'icon', class: "msg_icon note_img rounded-5" %>
                      <div class="note_content">
                        <h5 class="note_head m-0">Order Note:</h5>
                        <p class="note_text m-0"> <%= order.additional_comment %></p>
                      </div>
                    </div>
                  <% end %>

                  <% if order.gift_message_slip_image.attached? %>
                    <div class="note_section attach_section">
                      <svg class="msg_icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7345 1.4106C11.8632 0.0238621 9.25409 0.242229 7.63902 1.92075L6.82929 2.74599C6.64212 2.88214 6.52141 3.0913 6.49711 3.32155C6.47282 3.55181 6.54721 3.78159 6.70183 3.95384C6.84261 4.09587 7.03424 4.17576 7.23416 4.17576C7.43407 4.17576 7.6257 4.09587 7.76648 3.95384L8.74116 2.97106C9.85089 1.81544 11.6539 1.68588 12.9173 2.67097C13.5768 3.21082 13.9757 4.00591 14.0143 4.85766C14.053 5.7094 13.7277 6.53738 13.1197 7.13478L12.0551 8.2076C11.9131 8.34846 11.8333 8.54022 11.8333 8.74025C11.8333 8.94029 11.9131 9.13204 12.0551 9.27291C12.1959 9.41494 12.3875 9.49482 12.5874 9.49482C12.7873 9.49482 12.979 9.41494 13.1197 9.27291L14.1844 8.2076C15.1007 7.28203 15.5761 6.00762 15.4901 4.70767C15.404 3.40772 14.7648 2.20717 13.7345 1.4106ZM8.20134 12.0487L7.24165 13.0015C6.12628 14.1515 4.32592 14.2807 3.05802 13.3016C2.40344 12.7619 2.00787 11.97 1.96929 11.1222C1.93071 10.2743 2.25273 9.4498 2.85559 8.85279L3.92024 7.77997C4.06218 7.6391 4.14202 7.44735 4.14202 7.24731C4.14202 7.04728 4.06218 6.85552 3.92024 6.71466C3.77946 6.57263 3.58783 6.49274 3.38791 6.49274C3.188 6.49274 2.99637 6.57263 2.85559 6.71466L1.9034 7.67494C0.24444 9.28243 0.0297447 11.87 1.40106 13.7292C2.19714 14.7626 3.39856 15.4039 4.69967 15.4901C6.00078 15.5762 7.27616 15.0988 8.20134 14.1794L9.26599 13.114C9.55999 12.8199 9.55999 12.3429 9.26599 12.0487C8.972 11.7545 8.49534 11.7545 8.20134 12.0487ZM5.9675 8.9675L8.9675 5.9675C9.26159 5.67341 9.73841 5.67341 10.0325 5.9675C10.3266 6.26159 10.3266 6.73841 10.0325 7.0325L7.0325 10.0325C6.89167 10.1745 6.69998 10.2543 6.5 10.2543C6.30002 10.2543 6.10833 10.1745 5.9675 10.0325C5.82552 9.89167 5.74565 9.69998 5.74565 9.5C5.74565 9.30002 5.82552 9.10833 5.9675 8.9675Z" fill="#212B36"/>
                      </svg>
                      <div class="note_content">
                        <h5 class="note_head m-0">Attachments:</h5>
                        <p class="note_text m-0"> <%= link_to 'gift message.img', download_order_path(order, type: "gift") %></p>
                      </div>
                    </div>
                  <% end %>

                  <div class="order_items_section">
                    <div class="items_wrapper">
                      <% i = 1 %>
                      <% order_products = order.order_products.where(user_id: current_user.id) %>
                      <% order_products.each do |order_product| %>
                        <div class="order_items_row" data-controller="expand-image">
                          <div class="items_num"><%= i %></div>
                          <div class="items_table">
                            <table>
                              <thead>
                                <th><%= order_product.product.name %></th>
                                <th>Front Side</th>
                                <th>Back Side</th>
                                <th>Inventory</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="content_item">
                                      <% if order_product.variant.image.attached? %>
                                        <%= image_tag order_product.variant.image, class: "content_img" %>
                                      <% else %>
                                        <%= image_tag asset_path('dummy-product.png') %>
                                      <% end %>
                                      <div class="group_btn">
                                        <div class="left_btn black_box"><%= order_product.product_quantity %></div>
                                        <div class="input_grop"><%= order_product.variant.color %></div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="content_item">
                                     <% if order_product.front_side_image.attached? %>
                                        <div class="content_item_box">
                                          <%= image_tag order_product.front_side_image, class: "content_img " %>
                                          <%= link_to order_product.front_side_image, class: 'zoom_img lightbox_trigger' do %>
                                              <%= image_tag 'ic_expand.png', alt: 'icon', class: 'expand_icon' %>
                                          <% end %>
                                        </div>
                                      <% else %>
                                        <%= image_tag asset_path('dummy-product.png') %>
                                      <% end %>
                                      <div class="group_btn">
                                        <%= link_to download_order_path(order_product,  type: "front"), class: "download_btn" do %>
                                          <svg  xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                                            <path d="M5.16675 22.6667C5.16675 22.0223 5.68908 21.5 6.33341 21.5H22.6667C23.3111 21.5 23.8334 22.0223 23.8334 22.6667C23.8334 23.311 23.3111 23.8333 22.6667 23.8333H6.33341C5.68908 23.8333 5.16675 23.311 5.16675 22.6667Z" fill="#637381"/>
                                            <path d="M6.33341 23.8333C5.68908 23.8333 5.16675 23.311 5.16675 22.6667V20.3333C5.16675 19.689 5.68908 19.1667 6.33341 19.1667C6.97775 19.1667 7.50008 19.689 7.50008 20.3333V22.6667C7.50008 23.311 6.97775 23.8333 6.33341 23.8333Z" fill="#637381"/>
                                            <path d="M22.6667 23.8333C22.0224 23.8333 21.5001 23.311 21.5001 22.6667V20.3333C21.5001 19.689 22.0224 19.1667 22.6667 19.1667C23.3111 19.1667 23.8334 19.689 23.8334 20.3333V22.6667C23.8334 23.311 23.3111 23.8333 22.6667 23.8333Z" fill="#637381"/>
                                            <path d="M14.5001 18C14.2582 18.0018 14.0217 17.9285 13.8234 17.79L9.15675 14.5C8.63313 14.1286 8.508 13.4039 8.87675 12.8783C9.05533 12.6235 9.32834 12.4505 9.63506 12.398C9.94179 12.3454 10.2568 12.4175 10.5101 12.5983L14.5001 15.3867L18.4667 12.4C18.9822 12.0134 19.7135 12.1179 20.1001 12.6333C20.4867 13.1488 20.3822 13.8801 19.8667 14.2667L15.2001 17.7667C14.9981 17.9181 14.7525 18 14.5001 18Z" fill="#637381"/>
                                            <path d="M14.5001 15.6667C13.8558 15.6667 13.3334 15.1443 13.3334 14.5V5.16667C13.3334 4.52233 13.8558 4 14.5001 4C15.1444 4 15.6667 4.52233 15.6667 5.16667V14.5C15.6667 15.1443 15.1444 15.6667 14.5001 15.6667Z" fill="#637381"/>
                                          </svg>
                                        <% end %>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="content_item">
                                      <% if order_product.back_side_image.attached? %>
                                        <div class="content_item_box">
                                          <%= image_tag order_product.back_side_image, class: "content_img " %>
                                          <%= link_to order_product.back_side_image, class: 'zoom_img lightbox_trigger' do %>
                                              <%= image_tag 'ic_expand.png', alt: 'icon', class: 'expand_icon' %>
                                          <% end %>
                                        </div>
                                      <% else %>
                                        <%= image_tag asset_path('dummy-product.png') %>
                                      <% end %>
                                      <div class="group_btn">
                                        <%= link_to download_order_path(order_product.id,  type: "back"), class: 'download_btn' do %>
                                          <svg  xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
                                            <path d="M5.16675 22.6667C5.16675 22.0223 5.68908 21.5 6.33341 21.5H22.6667C23.3111 21.5 23.8334 22.0223 23.8334 22.6667C23.8334 23.311 23.3111 23.8333 22.6667 23.8333H6.33341C5.68908 23.8333 5.16675 23.311 5.16675 22.6667Z" fill="#637381"/>
                                            <path d="M6.33341 23.8333C5.68908 23.8333 5.16675 23.311 5.16675 22.6667V20.3333C5.16675 19.689 5.68908 19.1667 6.33341 19.1667C6.97775 19.1667 7.50008 19.689 7.50008 20.3333V22.6667C7.50008 23.311 6.97775 23.8333 6.33341 23.8333Z" fill="#637381"/>
                                            <path d="M22.6667 23.8333C22.0224 23.8333 21.5001 23.311 21.5001 22.6667V20.3333C21.5001 19.689 22.0224 19.1667 22.6667 19.1667C23.3111 19.1667 23.8334 19.689 23.8334 20.3333V22.6667C23.8334 23.311 23.3111 23.8333 22.6667 23.8333Z" fill="#637381"/>
                                            <path d="M14.5001 18C14.2582 18.0018 14.0217 17.9285 13.8234 17.79L9.15675 14.5C8.63313 14.1286 8.508 13.4039 8.87675 12.8783C9.05533 12.6235 9.32834 12.4505 9.63506 12.398C9.94179 12.3454 10.2568 12.4175 10.5101 12.5983L14.5001 15.3867L18.4667 12.4C18.9822 12.0134 19.7135 12.1179 20.1001 12.6333C20.4867 13.1488 20.3822 13.8801 19.8667 14.2667L15.2001 17.7667C14.9981 17.9181 14.7525 18 14.5001 18Z" fill="#637381"/>
                                            <path d="M14.5001 15.6667C13.8558 15.6667 13.3334 15.1443 13.3334 14.5V5.16667C13.3334 4.52233 13.8558 4 14.5001 4C15.1444 4 15.6667 4.52233 15.6667 5.16667V14.5C15.6667 15.1443 15.1444 15.6667 14.5001 15.6667Z" fill="#637381"/>
                                          </svg>
                                        <% end %>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="content_item">

                                      <% ProducersVariant.where(variant_id: order_product.variant_id, user_id: order_product.producer.id).each do |pv| %>
                                        <% inventory = pv.inventory_for_user(current_user).to_i %>
                                        <div class="table_data">
                                          <div class="value_row"><span><b>Aisle:</b></span> G21 </div>
                                          <div class="value_row"><span><b>Qty:</b></span><%= inventory %></div>
                                        </div>

                                        <% if inventory > 100 %>
                                          <div class="item_status">In Stock</div>
                                        <% elsif inventory <= 100 && inventory > 0 %>
                                          <div class="item_status low_stock">Low Stock</div>
                                        <% else %>
                                          <div class="item_status out_of_stock">Out of stock</div>
                                        <% end %>
                                      <%end%>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="items_check">
                            <input type="checkbox" name="">
                          </div>
                        </div>
                        <% i += 1 %>
                      <% end %>

                      <div class="packing_hint">
                        <div class="fold_box">
                          <svg class="collapse_hide" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12.425 7.95C12.5583 7.95 12.6877 7.975 12.813 8.025C12.9383 8.075 13.0423 8.14167 13.125 8.225L17.725 12.825C17.9083 13.0083 18 13.2417 18 13.525C18 13.8083 17.9083 14.0417 17.725 14.225C17.5417 14.4083 17.3083 14.5 17.025 14.5C16.7417 14.5 16.5083 14.4083 16.325 14.225L12.425 10.325L8.525 14.225C8.34167 14.4083 8.10833 14.5 7.825 14.5C7.54167 14.5 7.30833 14.4083 7.125 14.225C6.94167 14.0417 6.85 13.8083 6.85 13.525C6.85 13.2417 6.94167 13.0083 7.125 12.825L11.725 8.225C11.825 8.125 11.9333 8.054 12.05 8.012C12.1667 7.97 12.2917 7.94933 12.425 7.95Z" fill="black"/>
                          </svg>
                          <span class="fold_text">Fold</span>
                        </div>
                        <div class="hint_box d-flex align-items-center" >
                          <%= image_tag "Img_Avatar.girl", alt: 'img', class: "rounded-5 user_img" %>
                          <div class="hint_text">Packing Hint: <%= order.package_dimensions_str %></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="table_footer_wrap">
    <div class="content_btn">
      <div class="center">
        <input type="checkbox" >
      </div>
      <div class="content_text">Dense</div>
    </div>
    <div class="pages_content">
      <div>
        Rows per page:
      </div>
      <div>
        <select id="rowsPerPage" onchange="changeRowsPerPage(this.value)">
          <option value="">None</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div><%= pagination_information(orders) %></div>
      <div class="d-flex">
        <div class="pagination">
          <%= will_paginate orders %>
        </div>
      </div>
    </div>
  </div>
</div>
