<div class="orders_details_box">
  <div class="order_details_data">
    <div class="order_table_section">
      <div class="order_info_table designer_info_table">
        <div class="thead">
          <div class="thead_row">
            <div class="order_th first">&nbsp;</div>
            <div class="order_th second">Order ID</div>
            <div class="order_th three">Etsy/Amazon Order ID</div>
            <div class="order_th four">Customer Name</div>
            <div class="order_th five">Total Items</div>
            <div class="order_th six">Price</div>
            <div class="order_th seven">Order Status</div>
            <div class="order_th eight">Order Edit Status</div>
            <div class="order_th nine">Revision</div>
            <div class="order_th ten">Due Date</div>
            <div class="order_th eleven">
              <span>Order by</span>
              <%= image_tag 'arrow_down.png', alt: 'icon', class: 'down_arrow' %>
            </div>
            <div class="order_th last">More Actions</div>
          </div>
        </div>
        <div class="tbody">
          <% orders.each do |order| %>
            <div class="tbody_row">
              <div class="order_td td_icon first">
                <div class="custom_checkbox_wrapper">
                  <input type="checkbox" name="" id="<%= order.id %>" class="check_field">
                  <label for="<%= order.id %>"></label>
                </div>

              </div>
              <div class="order_td second">
                <div class="order_id_icon">
                  <span class="order_num"><%= order.id %></span>
                </div>
              </div>
              <div class="order_td three"><%= order.etsy_order_id %></div>

              <% if order.address.present?%>
                <div class="order_td four"><%= order.address.fullname %></div>
              <%else%>
                <div class="order_td four">-</div>
              <%end%>

              <div class="order_td five"><%= order.order_products.pluck(:product_quantity).sum %></div>

              <!-- <div class="order_td six">$<%#= sum_result %></div> -->
              <div class="order_td six">
                <% if order.assign_details.present? %>
                  <div class="icon_with_name">
                    <span class="price">
                      $<%= order.assign_details.last.price_for_total.presence || order.assign_details.last.price_per_design.to_f * order.order_products.pluck(:product_quantity).compact.sum.to_i %>
                    </span>
                  </div>
                <% else %>
                  <span class="price not_price">Not Priced</span>
                <% end %>
              </div>
              <div class="order_td seven">
                <div class="order_status_icon">
                  <% if order.order_status == "inproduction" %>
                    <div class="in_production custom_badge">
                      In Production
                    </div>
                  <% elsif order.order_status == "onhold"%>
                    <div class="custom_badge">
                      On Hold
                    </div>
                  <% elsif order.order_status == "rejected" %>
                    <div class="rejectd custom_badge">
                      Rejected 
                    </div>
                  <% elsif order.order_status == "fullfilled" %>
                    <div class="fulfiled custom_badge">
                      Fullfilled
                    </div>
                  <% else %>
                    <div class="rejectd custom_badge">
                      Cancel
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="order_td eight">
                <div class="order_priority_icon">
                  <% if order.order_edit_status == "completed" %>
                    <div class="edit_status completed">
                      <span><%= order.order_edit_status %></span>
                      <span><%= image_tag 'complete.png', alt: 'icon'%></span>
                    </div>
                  <% else %>
                    <div class="edit_status incomplete">
                      <span><%= order.order_edit_status %></span>
                      <span><%= image_tag 'incomplete.png', alt: 'icon'%></span>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="order_td nine">
                <% if order.request_revision? %>
                  <div class="rev_req">
                    <span><%= image_tag 'ic_alert.png', alt: 'icon'%></span>
                    <span>Revision Requested</span>
                  </div>
                <%else%>
                  <span>-</span>
                <%end%>
              </div>
              <div class="order_td ten">
                <% if order.due_date.present? && order.assign_details.present?%>
                  <%= order.order_due_date %> left
                <% else %>
                  nil
                <%end%>
              </div>
              <div class="order_td eleven">
                ETSY
              </div>
              <div class="order_td last">
                <div class="more_menu">
                  <a href="<%= on_hold_popup_order_path(order) %>"  data-turbo-frame="on-hold-order-modal" class= "more_link">
                    <%= image_tag 'View.png', alt: 'icon'%>
                  </a>
                  <%= link_to edit_order_path(order), class: 'more_link' do %>
                    <%= image_tag 'edit_row.png', alt: 'icon'%>
                  <% end %>
                  <div class="more_link">
                    <span>&nbsp;</span>
                  </div>
                  <div class="drop_menu">
                    <div class="drop_icon_box">
                      <%= image_tag 'ic_more.png', alt: 'icon', class: 'more_icon' %>
                    </div>
                    <div class="menu_drop">
                      content here
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="table_footer_wrap">
    <div class="content_btn">
      <div class="center">
        <input type="checkbox" >
      </div>
      <div class="content_text">Dense</div>
    </div>
    <div class="pages_content">
      <div>
        Rows per page:
      </div>
      <div>
        <select id="rowsPerPage" onchange="changeRowsPerPage(this.value)">
          <option value="">None</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div><%= pagination_information(orders) %></div>
      <div class="d-flex">
        <div class="pagination">
          <%= will_paginate orders %>
        </div>
      </div>
    </div>
  </div>
</div>
