<ul class="order_tabs_wrap" id="tabs-nav">
  <li class="tabs_items">
    <a href="#tab1">
      <span class="tabs_notify"><%= orders.total_entries %></span>All Orders
    </a>
  </li>

  <li class="tabs_items active">
    <a href="#tab2">
      <span class="tabs_notify"><%= orders.new_orders.total_entries %></span> On Hold
    </a>
  </li>

  <li class="tabs_items">
    <a href="#tab3">
      <span class="tabs_notify rejected"><%= orders.rejected_order.total_entries %></span> Rejected
    </a>
  </li>

  <li class="tabs_items">
    <a href="#tab4">
      <span class="tabs_notify production"><%= orders.inproduction.total_entries %></span> In Production
    </a>
  </li>

  <li class="tabs_items">
    <a href="#tab5">
      <span class="tabs_notify fulfilled"><%= orders.fullfilled_order.total_entries %></span>Fulfilled
    </a>
  </li>
</ul>

<div id="tabs-content">
  <div id="tab1" class="tab-content">
    <%= render "orders/admin_all_order", orders: orders %>
  </div>
  <div id="tab2" class="tab-content">
    <%= render "orders/admin_all_order", orders: orders.new_orders %>
  </div>
  <div id="tab3" class="tab-content">
    <%= render "orders/admin_all_order", orders: orders.rejected_order %>
  </div>
  <div id="tab4" class="tab-content">
    <%= render "orders/admin_all_order", orders: orders.inproduction %>
  </div>
  <div id="tab5" class="tab-content">
    <%= render "orders/admin_all_order", orders: orders.fullfilled_order %>
  </div>
</div> <!-- END tabs-content -->

<script type="text/javascript">
  // $('#tabs-nav li:first-child').addClass('active');
  $('.tab-content').hide();
  $($('.tab-content')[1]).show();

  $('#tabs-nav li').click(function(){
    $('#tabs-nav li').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).fadeIn();
    return false;
  });

  $('.drop_icon_box').on('click', function() {
    var dropdownContent = $(this).closest('.tbody_row').find('.menu_drop')
    $('.menu_drop').not(dropdownContent).hide();
    dropdownContent.toggle();
  });

  $(document).on('click', function(e) {
    if (!$(e.target).closest('.drop_icon_box, .menu_drop').length) {
      $(".menu_drop").hide();
    }
  });

  var $checkboxes = $('.custom_info_table .order_td input[type="checkbox"]');

  $checkboxes.change(function(){
    var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
    $('#count-checked-checkboxes').text(countCheckedCheckboxes);
  });
</script>
