<turbo-frame id="add-new-product-order-modal">
  <div id= "select_pop_wrap_model" class="select_pop_wrap_model choose" data-controller="modals" data-modals-modal-id-value="select_pop_wrap_model">
    <div class=" select_pop_wrap_outer">
      <div class="select_pop_wrap">
        <div class="select_head">
          Choose a Product
          <%= image_tag "red_close", alt:"icon", class:"close_icon" %>
        </div>

        <div class="select_content" data-controller="search" data-search-params-value="<%= { order_id: @order.id }.to_json %>" data-search-url-value="<%= add_new_product_orders_path %>">
          <div class="select_search_box">
            <%= image_tag "search", alt:"icon", class:"search_icon" %>
            <input class="search_input" type="text" placeholder="Search Product" data-search-target="query" />
          </div>

          <div class="content_text">Available Products</div>
          <div class="scroll_section" data-search-target="results">
            <%= render 'products_search_result', products: @products, order: @order %>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
