<turbo-frame id="all-producer-order-modal">
  <div id= "all_producer_model" class="select_pop_wrap_model" data-controller="modals" data-modals-modal-id-value="all_producer_model">
    <div class="select_pop_wrap_outer">
      <div class="select_pop_wrap">
        <div class="select_head">
          Choose a Producer
          <%= image_tag "close", alt:"icon", class: "close_icon" %>
        </div>

        <div class="select_content">
          <div class="scroll_section">
            <% @producers.each do |producer| %>
              <div class="scroll_content">
                <div class="image_text_wrap">
                  <div class="text_wrap">
                    <%= producer.name %>
                    <div class="light_text"><%= producer.address.to_str %></div>
                  </div>

                  <!-- <label class="image_label">LASER ENGRAVING</label> -->
                </div>

                <div class="choose_btn">
                  <%= 
                    link_to 'Choose',
                      new_order_product_orders_path(order_id:    @order_id,
                                                    product_id:  @product_id,
                                                    variant_ids: @variant_ids,
                                                    producer_id: producer.id),
                      data: { 'turbo-frame': '_top' }
                  %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="back_to_btn_section">
            <%= link_to select_variant_orders_path(product_id: @product_id, order_id: @order_id, variant_ids: @variant_ids), class: "back_to_btn", data: { turbo_frame: "add-new-product-order-modal" } do %>
              <%= image_tag "dark_start_icon", alt: "icon", class: "icon" %>
              <div class="btn_text">Back to Product Variant</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
