<turbo-frame id="assigne-order-modal">
  <div class="assign_order_pop_model">
    <div class="assign_order_pop_wrapper">
      <div id="assign_order_pop" class="assign_order_pop" data-controller="modals" data-modals-modal-id-value="assign_order_pop">
        <%= image_tag "close", alt:"icon", class:"close_icon" %>
        <div class="assign_head">
          <%= image_tag "ic_user_group", alt: "icon", class: "assign_icon" %>
          Assign order to
        </div>
        <%= form_for @assigne, url: assignee_create_order_path(@order) do |a| %>
          <div class="check_list">
            <%= a.collection_radio_buttons(:designer, @designers, :id, :name) do |b| %>
              <%= b.label { b.radio_button(checked: b.value == @designers.first.id) + b.text } %>
            <% end %>
          </div>

          <div class="input_section">
            <div class="input_box">
              <label class="label_top">Price per design(optional)</label>
              <div class="input_text">
                $<%= a.number_field :price_per_design, step: 0.01 %>
              </div>
            </div>
          </div>

          <div class="input_section">
            <div class="input_box">
              <label class="label_top">Price for Total Job(optional)</label>
              <div class="input_text">
                $<%= a.number_field :price_for_total, step: 0.01 %>
              </div>
            </div>
          </div>
          <div class="date_wrapper">
            <div class="date_head">Due Date (OPTIONAL)</div>
              <div class="input_section">
                <div class="input_box">
                  <div class="input_text w-100">
                   <%= a.date_field :due_date %>
                  <%= image_tag "calendar", alt:"icon", class:"cal_icon d-none" %>
                </div>  
              </div>
            </div>

            <div class="input_section">
              <div class="input_box">
                <label class="label_top">Leave any additional comments here</label>
                <div class="input_text">
                  <%= a.text_field :additional_comment, placeholder: "Priority Order -  Please complete the job asap! Thanks." %>
                </div>
              </div>
            </div>
          <%= a.submit 'Submit', data: { 'turbo-frame': '_top' }, class: 'submit_btn' %>
        <%end%>
        </div>
      </div>
    </div>
  </div>

</turbo-frame>
