<div class="orders_page_wrapper <%= current_user.type == "Designer" || current_user.type == "Admin" ? 'designer_orders' : '' %>">
  <%= render "shared/sidebar" %>
  <div class="orders_wrapper" data-controller="search" data-search-url-value="<%= cancel_order_index_orders_path %>">
    <div class="order_head">
      <div class="head_content">
        <%= link_to new_order_path , class: 'manual_btn' do %>
          <%= image_tag 'ic_plus', alt: 'icon', class: 'plus_icon' %>
          <span>Create Manual Order</span>
        <% end %>
        <div class="create_bell_box">
          <%= image_tag "ic_notifications", alt: 'icon', class: "create_bell_icon" %>
          <div class="create_notification">1</div>
        </div>
        <div class="account_icon"></div>
      </div>
    </div>

    <div class="search_wrap">
      <div class="search_box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.31 15.9L20.71 19.29C20.8993 19.4778 21.0058 19.7334 21.0058 20C21.0058 20.2666 20.8993 20.5222 20.71 20.71C20.5222 20.8993 20.2666 21.0058 20 21.0058C19.7334 21.0058 19.4778 20.8993 19.29 20.71L15.9 17.31C14.5025 18.407 12.7767 19.0022 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11C19.0022 12.7767 18.407 14.5025 17.31 15.9ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z" fill="#919EAB"/>
        </svg>
        <input class="search_input" value="<%= params[:query] %>" type="text" placeholder="Search by order number, customer, or product name" data-search-target="query" />
      </div>
    </div>

    <div class="tabs_box designer_tab_box">
      <div id="tabs-content">
        <div id="tab1" class="tab-content">
          <div class="orders_details_box">
            <div class="order_details_data">
              <div class="order_table_section">
                <div class="order_info_table designer_info_table">
                  <div class="thead">
                    <div class="thead_row">
                      <div class="order_th first">&nbsp;</div>
                      <div class="order_th second">Order ID</div>
                      <div class="order_th three">Etsy/Amazon Order ID</div>
                      <div class="order_th four">Customer Name</div>
                      <div class="order_th five">Total Items</div>
                      <div class="order_th six">Price</div>
                      <div class="order_th seven">Order Status</div>
                      <div class="order_th eight">Assignee</div>
                      <div class="order_th nine">Order Date</div>
                      <div class="order_th ten">Order by</div>
                      <!-- <div class="order_th last"></div> -->
                    </div>
                  </div>
                  <div class="tbody" data-search-target="results">
                    <%= render 'cancelled_orders_table', cancel_orders: @cancel_orders %>
                  </div>

                  <turbo-frame id="destroy-order-modal"></turbo-frame>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
