<div class="hero_wrapper">
  <div class="manual_order_wrapper">
    <div class="manual_order_header">
      <%= link_to save_changes_confirmation_order_path(@order), class: "back_btn_wrap", data: { turbo_frame: "save-changes-order-model" } do %>
        <%= image_tag 'start_icon.png', alt: 'icon', class: 'back_icon' %>
        <span>Back to My Orders</span>
      <% end %>
      <div class="header_text">Order ID <%= @order.id %></div>
    </div>

    <div class="manual_content_wrap">
      <div class="new_product_section">
        <div class="form_step">
          <span class="step choose_products">1</span>
          <span class="step shipping">2</span>
          <span class="step submit_offers">3</span>
        </div>

        <%= link_to add_new_product_orders_path(order_id: @order.id), class: "new_product_btn", data: { turbo_frame: "add-new-product-order-modal" } do %>
          <%= image_tag 'shopping_cart.png', alt: 'icon', class: 'cart_icon' %>
          <span class="new_text">Add New Products</span>
        <% end %>
      </div>

      <% if current_user.designer? && @order.assign_details&.last.present? %>
        <% assign_detail = @order.assign_details.last %>
        <% if assign_detail.additional_comment.present? %>
          <div class="important-note px-4">
            <%= image_tag 'ic_alert' %>
            Note: <%= assign_detail.additional_comment %>
          </div>
        <% end %>

        <% if @order.request_revision? && @order.revision_info.present? %>
          <div class="important-note mt-2 px-4">
            <%= image_tag 'ic_alert' %>
            Revision Request: <%= @order.revision_info %>
          </div>
        <% end %>
      <% end %>

      <turbo-frame id="save-changes-order-model"></turbo-frame>
      <turbo-frame id="all-producer-order-modal"></turbo-frame>
      <turbo-frame id="add-new-product-order-modal"></turbo-frame>
      <turbo-frame id="order-success-popup-modal"></turbo-frame>
      <turbo-frame id="set-dimensions"></turbo-frame>
      <turbo-frame id="edit-sender"></turbo-frame>
      <turbo-frame id="request-revision-order-modal"></turbo-frame>

      <% if @error_message.present? %>
        <div class="text-center w-full text-danger"><%= @error_message %></div>
      <% end %>

      <% if params[:step].present? && params[:step].eql?('shipping_method') && @order.shippo_shipment_id.present? %>
        <%= render 'step_three', order: @order, rates: @rates, address: @order.address, sender: @order.sender %>
      <% elsif params[:step].present? && params[:step].eql?('customer') %>
        <%= render 'step_two', order: @order %>
      <% else %>
        <%= render 'edit_step_one', order: @order %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.toggle_icon').click(function() {
    $(this).toggleClass('rotate_icon');
    $(this).closest('.product_list_section').find('.collapse_data').slideToggle();
  });

  $('.delete_img').click(function() {
    $(this).closest('.content_img').find('.avatar-edit').css('display', 'flex').find('.upload_field').val('');
    $(this).closest('.content_img').find('.avatar-preview').hide();
    $(this).closest('.content_img').find('.delete_img').hide();
  });
</script>

<style type="text/css">
  input.invalid {
    background-color: #ffdddd;
  }
</style>
