<turbo-frame id="fullfilled-order-modal">
  <div class="status_popup">
    <div class="status_popup_outer">
      <div id = "status_pop_wrapper" class="status_pop_wrapper" data-controller="modals" data-modals-modal-id-value="status_pop_wrapper">
        <%= link_to 'javascript:;', class: 'close_popup', id: 'close_status_popup' do %>
          <%= image_tag "close.png", alt:"icon" %>
        <% end %>
        <div class="status_bar">
          <div class="left_section">
            <div class="bar_head">Order ID: <%= @order.id%></div>
            <% if @order.order_status == "fullfilled"%>
              <div class="status_badge succes_badge">Fullfilled</div>
            <%end%>
          </div>
          <div class="right_section">
            <% if @assigne.present? %>
              <span><%= @assigne %></span>
              <%= image_tag "check", alt:"icon", class:"right_img" %>
            <%else%>
              <span> assigne not assign</span>
            <%end%>
          </div>
        </div>
        <div class="create_date"><%= @order.order_date_with_time%></div>
        <% sum_result = 0 %>
        <div class="order_info_section">
          <div class="left_section">
            <% @order_products.each do |order_product|%>  
              <div class="left_section_box">
                <div class="left_head"><%=order_product.product.name%></div>
                <div class="left_sku">SKU: <%= order_product.variant.real_variant_sku%></div>
                <div class="text_with_img_section">
                  <div class="text_section">
                    <div class="text">Color: <span><%= order_product.variant.color%></span></div>
                    <div class="text">Size: <span><%= order_product.variant.size %> OZ</span></div>
                    <div class="text">Quantity: <span><%= order_product.product_quantity%></span></div>
                    <div class="text">Fulfilled By <%= order_product.producer.name%></div>
                  </div>
                  <div class="img_section">
                    <%= display_image(order_product.order.front_side_image, "trans_frame") %>
                    <%= display_image(order_product.order.back_side_image, "trans_frame") %>
                    <%= display_image(order_product.product.image, "trans_frame") %>
                  </div>
                </div>
                <div class="cost_section">
                  <div>Production costs</div>
                    <% record = order_product.product.product_producer_pricings.find_by(user_id: order_product.producer.id) %>
                    <% cost = (record.front_side_print_price + record.back_side_print_price)* order_product.product_quantity%>
                    <% sum_result += cost %>
                  <div>USD <%= cost %></div>
                </div>
                <div class="cost_section small">
                  <div>Tracking details</div>
                  <div>--</div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="right_section">
            <div class="order_info_link">
              <div class="info_text">ETSY Order ID #: 34568275</div>
              <%= image_tag "external_link", alt:"icon", class:"info_img" %>
            </div>
            <div class="buyer_info_section">
              <div class="buyer_mail">
                <div class="buyer_head">Customer</div>
                <div class="buyer_text">Dacid Guerra email@gmail.com</div>
              </div>
              <div class="buyer_mail">
                <div class="buyer_head">Shipping Address</div>
                <div class="buyer_text">Sabrina Kezzi 55 Main Street Long Island, NY, 02011, US</div>
              </div>
            </div>
            <div class="billing_section">
              <div class="billing_head">Billing</div>
              <div class="billing_info">
                <div class="left_text">
                  <div>Production Cost:</div>
                  <div>Shipping Cost:</div>
                  <div class="fw-bold">Total Cost:</div>
                </div>
                <div class="right_text">
                  <div>USD <%= sum_result %></div>
                  <% if @shipping_price.present?%>
                    <div>USD <%= @shipping_price.price%></div>
                    <div class="fw-bold">USD <%= sum_result + @shipping_price.price %></div>
                  <%else%>
                    <div>-</div>
                  <%end%>
                  <div class="fw-bold">USD <%= sum_result %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>