<div class="orders_page_wrapper <%= current_user.type == "Designer" || current_user.type == "Admin" ? 'designer_orders' : '' %>">
  <%= render "shared/sidebar" %>

  <% if current_user.type == "Designer" %>
    <%= render "designer_index" %>
  <% elsif current_user.type == "Admin" %>
    <%= render "admin_index" %>
  <% else %>
    <%= render "producer_index" %>
  <% end %>
</div>

<script type="text/javascript">
  function changeRowsPerPage(value) {
    window.location.href = window.location.pathname + "?per_page=" + value;
  }

  $('#tabs-nav li:first-child').addClass('active');
  $('.tab-content').hide();
  $('.tab-content:first').show();

  $('#tabs-nav li').click(function(){
    $('#tabs-nav li').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).fadeIn();
    return false;
  });

  $('.collapse_show').click(function () {
    $(this).closest('.tbody_row').find('.collapse_data').slideToggle(800);
  });
  $('.collapse_hide').click(function () {
    $(this).closest('.tbody_row').find('.collapse_data').slideUp(800);
  });

  $('.drop_icon_box').on('click', function() {
    var dropdownContent = $(this).closest('.tbody_row').find('.menu_drop')
    $('.menu_drop').not(dropdownContent).hide();
    dropdownContent.toggle();
  });

  $(document).on('click', function(e) {
    if (!$(e.target).closest('.drop_icon_box, .menu_drop').length) {
        $(".menu_drop").hide();
    }
  });

  var $checkboxes = $('.custom_info_table .order_td input[type="checkbox"]');
  $checkboxes.change(function(){
    var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
    $('#count-checked-checkboxes').text(countCheckedCheckboxes);
  });
</script>
