<div class="orders_page_wrapper <%= current_user.type == "Designer" || current_user.type == "Admin" ? 'designer_orders' : '' %>">
  <%= render "shared/sidebar" %>

  <% if current_user.type == "Designer" %>
    <%= render "designer_index" %>
  <% elsif current_user.type == "Admin" %>
    <%= render "admin_index" %>
  <% else %>
    <%= render "producer_index" %>
  <% end %>
</div>

<script type="text/javascript">
  $('.check_field').change(function() {
    if ($(this).is(":checked") == true) {
      $(this).closest('.tbody_row').addClass('selected_row')
    } else {
      $(this).closest('.tbody_row').removeClass('selected_row')
    }
  });

  $('#tabs-nav li:first-child').addClass('active');
  $('.tab-content').hide();
  $('.tab-content:first').show();

  $('#tabs-nav li').click(function(){
    $('#tabs-nav li').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').hide();
    
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).fadeIn();
    return false;
  });

  $(document).on('click', function(e) {
    if (!$(e.target).closest('.drop_icon_box, .menu_drop').length) {
      $(".menu_drop").hide();
    }
  });

  var $checkboxes = $('.custom_info_table .order_td input[type="checkbox"]');

  $checkboxes.change(function(){
    var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
    $('#count-checked-checkboxes').text(countCheckedCheckboxes);
  });
</script>
