<div class="hero_wrapper">
  <div class="manual_order_wrapper">
    <div class="manual_order_header">
      <%= link_to products_path,  class: "back_btn_wrap" do %>
        <%= image_tag 'start_icon.png', alt: 'icon', class: 'back_icon' %>
       <span> Back to My Products </span>
      <% end %>
      <!-- <div class="header_text">Order ID #1111</div> -->
    </div>

    <div class="manual_content_wrap">
      <div class="new_product_section">
        <div class="form_step">
          <span class="step choose_products">1</span>
          <span class="step shipping">2</span>
          <span class="step submit_offers">3</span>
        </div>
        <%= link_to add_new_product_orders_path, class: "new_product_btn", data: {turbo_frame: "add-new-product-order-modal"} do %>
          <%= image_tag 'shopping_cart.png', alt: 'icon', class: 'cart_icon' %>
          <span class="new_text">Add New Products</span>
        <% end %>
      </div>

      <turbo-frame id="all-producer-order-modal"></turbo-frame>
      <turbo-frame id="add-new-product-order-modal"></turbo-frame>
      <turbo-frame id="order-success-popup-modal"></turbo-frame>

      <%= render 'step_one', order: @order, products: @products %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.toggle_icon').click(function() {
    $(this).toggleClass('rotate_icon');
    $(this).closest('.product_list_section').find('.collapse_data').slideToggle();
  });

  $('.variantId').each(function() {
    var varientId = $(this).attr('id');

    function readFrontURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#imageFrontPreview_'+varientId).css('background-image', 'url('+e.target.result +')');
          $('#imageFrontPreview_'+varientId).hide();
          $('#imageFrontPreview_'+varientId).fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#front_side_image_"+varientId).change(function() {
      readFrontURL(this);
      $(this).closest('.avatar-upload').find('.avatar-edit').css('display', 'none');
      $(this).closest('.avatar-upload').find('.avatar-preview').show();
      $(this).closest('.content_img').find('.delete_img').css('display', 'flex');
    });

    function readBackURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#imageBackPreview_'+varientId).css('background-image', 'url('+e.target.result +')');
          $('#imageBackPreview_'+varientId).hide();
          $('#imageBackPreview_'+varientId).fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#back_side_image_"+varientId).change(function() {
      readBackURL(this);
      $(this).closest('.avatar-upload').find('.avatar-edit').css('display', 'none');
      $(this).closest('.avatar-upload').find('.avatar-preview').show();
      $(this).closest('.content_img').find('.delete_img').css('display', 'flex');
    });


    // increment decrement product js
    var incrementPlus;
    var incrementMinus;

    var buttonPlus  = $(".cart-qty-plus");
    var buttonMinus = $(".cart-qty-minus");

    var incrementPlus = buttonPlus.click(function() {
      var $n = $(this)
        .parent(".button-container")
        .parent(".plus_minus_wrap")
        .find("#variants_"+varientId);
      $n.val(Number($n.val())+1 );
      var proVal = $("#variants_"+varientId).val()
      $('#qty_num_'+varientId).text(proVal);
    });

    var incrementMinus = buttonMinus.click(function() {
        var $n = $(this)
        .parent(".button-container")
        .parent(".plus_minus_wrap")
        .find("#variants_"+varientId);
      var amount = Number($n.val());
      if (amount > 0) {
        $n.val(amount-1);
        var proVal = $("#variants_"+varientId).val()
        $('#qty_num_'+varientId).text(proVal);
      }
    });
  });

  $('.delete_img').click(function() {
    $(this).closest('.content_img').find('.avatar-edit').css('display', 'flex').find('.upload_field').val('');
    $(this).closest('.content_img').find('.avatar-preview').hide();
    $(this).closest('.content_img').find('.delete_img').hide();
  });


  // var currentTab = 0; // Current tab is set to be the first tab (0)
  // showTab(currentTab); // Display the current tab

  // function showTab(n) {
  //   // This function will display the specified tab of the form...
  //   var x = document.getElementsByClassName("tab");
  //   x[n].style.display = "block";
  //   //... and fix the Previous/Next buttons:
  //   if (n == 0) {
  //     document.getElementById("prevBtn").style.display = "none";
  //   } else {
  //     document.getElementById("prevBtn").style.display = "inline";
  //   }
  //   if (n == (x.length - 1)) {
  //     document.getElementById("nextBtn").innerHTML = "Submit";
  //   } else {
  //     document.getElementById("nextBtn").innerHTML = "Shipping";
  //   }
  //   //... and run a function that will display the correct step indicator:
  //   fixStepIndicator(n)
  // }

  // function nextPrev(n) {
  //   // This function will figure out which tab to display
  //   var x = document.getElementsByClassName("tab");
  //   // Exit the function if any field in the current tab is invalid:
    
  //   //if (n == 1 && !validateForm()) return false;
    
  //   // Hide the current tab:
  //   x[currentTab].style.display = "none";
  //   // Increase or decrease the current tab by 1:
  //   currentTab = currentTab + n;
  //   // if you have reached the end of the form...
  //   if (currentTab >= x.length) {
  //     // ... the form gets submitted:
  //     document.getElementById("regForm").submit();
  //     return false;
  //   }
  //   // Otherwise, display the correct tab:
  //   showTab(currentTab);
  // }

  // function validateForm() {
  //   // This function deals with validation of the form fields
  //   var x, y, i, valid = true;
  //   x = document.getElementsByClassName("tab");
  //   y = x[currentTab].getElementsByTagName("input");
  //   // A loop that checks every input field in the current tab:
  //   for (i = 0; i < y.length; i++) {
  //     // If a field is empty...
  //     if (y[i].value == "") {
  //       // add an "invalid" class to the field:
  //       y[i].className += " invalid";
  //       // and set the current valid status to false
  //       valid = false;
  //     }
  //   }
  //   // If the valid status is true, mark the step as finished and valid:
  //   if (valid) {
  //     document.getElementsByClassName("step")[currentTab].className += " finish";
  //   }
  //   return valid; // return the valid status
  // }

  // function fixStepIndicator(n) {
  //   // This function removes the "active" class of all steps...
  //   var i, x = document.getElementsByClassName("step");
  //   for (i = 0; i < x.length; i++) {
  //     x[i].className = x[i].className.replace(" active", "");
  //   }
  //   //... and adds the "active" class on the current step:
  //   x[n].className += " active";
  // }


  // $(document).ready(function(){
  //   $(".new_product_btn").click(function(){
  //     $(".choose").show()

  //     $(".close_icon").click(function(){
  //       $(".choose").hide()
  //     })      
  //   })

  //   $(".scroll_content").click(function(){
  //     $(".choose").hide()
  //     $(".variant_pop").show()

  //     $(".close_icon").click(function(){
  //       $(".variant_pop").hide()
  //     })
  //   })

  //   $(".check_box").click(function(){
  //     if ($(this).is(":checked")){
  //       $(".choose_producer").show()

  //       $(".close_icon").click(function(){
  //         $(".choose_producer").hide()
  //       })
  //     }
  //   })
  // })
</script>

<style type="text/css">
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

</style>
