<div class="hero_wrapper">
  <div class="inventory_page_wrapper">
    <%= render "shared/sidebar" %>

    <div class="inventory_panel_wrapper">
      <div class="panel_header">
        <div class="header_box">
          <div class="create_wrap">
            <div class="create_content">
              <%= image_tag "ic_plus", class: "plus_icon" %>
              <%= link_to 'Create Manual Order', new_order_path , class: 'create_text' %>
            </div>

            <div class="create_bell_box">
              <%= image_tag "ic_notifications", class:"create_bell_icon" %>

              <div class="create_notification">
                <p class="notification_text">1</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="inventory_box inventory_history_box">
        <div class="inventory_content_box">
          <div class="inventory_table_wrap">
            <div class="inventory_table">
              <div class="thead">
                <div class="th one">Product Id</div>
                <div class="th two">Product photo</div>
                <div class="th three">Product Detail</div>
                <div class="th four">Inventory Change</div>
                <div class="th five">Qty Change</div>
                <div class="th six">Update Reason</div>
                <div class="th seven">Tracking N</div>
                <div class="th eight">Updated By</div>
                <div class="th nine">Date</div>
              </div>

              <div class="tbody">
                <% @products.each do |product|%>
                  <% product.variants.each do |variant| %>
                    <% if params[:producer_id].present? %>
                      <% pv = variant.producers_variants.find_by(user_id: params[:producer_id]) %>
                    <% else %>
                      <% pv = variant.producers_variants.find_by(user_id: current_user.id) %>
                    <% end %>

                    <% next if pv.versions&.last&.reify&.inventory.nil? %>

                    <div class="tbody_row">
                      <div class="td one"><%= product.id %></div>

                      <div class="td two">
                        <div class="product_img">
                          <% if variant.image.attached? %>
                            <%= image_tag variant.image %>
                          <% else %>
                            <%= image_tag asset_path('dummy-product.png') %>
                          <% end %> 
                        </div>
                      </div>

                      <div class="td three">
                        <div class="product_details_box">
                          <div class="name"><b><%= product.name %></b></div>
                          <div class="brand"><b>Brand:</b> <%= product.brand_name %></div>
                          <div class="sku"><b>SKU:</b> <%= variant.real_variant_sku %></div>
                          <div class="color"><b>color:</b> <%= variant.color %></div>
                          <div class="size"><b>size:</b> <%= variant.size %></div>
                        </div>
                      </div>

                      <div class="td four">
                        <div class="arrow_indicator">
                          <% if pv.versions&.last&.reify&.inventory > pv.inventory %>
                            <%= image_tag 'down.png', alt: 'icon' %>
                            <div class="icon_text"><%= pv.versions&.last&.reify&.inventory %> to <%= pv.inventory %></div>
                          <% else %>
                            <%= image_tag 'up.png', alt: 'icon' %>
                            <div class="icon_text green_text"><%= pv.versions&.last&.reify&.inventory %> to <%= pv.inventory %></div>
                          <% end %>
                        </div>
                      </div>

                      <div class="td five">
                        <div class="arrow_indicator">
                          <% if pv.versions.present?  && pv.versions.last.event == "update" %>
                            <% qty = pv.versions&.last&.reify&.inventory - pv.inventory %>

                            <% if qty.positive? %>
                              <%= image_tag 'down.png', alt: 'icon' %>
                              <div class="icon_text"><%= qty %></div>
                            <% else %>
                              <%= image_tag 'up.png', alt: 'icon' %>
                              <div class="icon_text green_text"><%= qty.abs %></div>
                            <% end %>
                          <% else %>
                            0
                          <% end %>
                        </div>
                      </div>

                      <div class="td six">
                        <%if variant.inventory_reason.present? %>
                          <%= variant.inventory_reason %>
                        <% else %> 
                          -
                        <% end %>
                      </div>

                      <div class="td seven">000000</div>

                      <div class="td eight">
                        <% if pv.versions.present? && pv.versions.last.event == "update" %>
                          <%= pv.user_type %>
                        <% else %>
                          -
                        <% end %>
                      </div>

                      <div class="td nine">
                        <% if pv.versions.present? && pv.versions.last.event == "update" %>
                          <%= pv.created_at %>
                        <% else %>
                          -
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="table_footer_wrap">
            <div class="content_btn">
            <div class="pages_content">
              <div>Rows per page:</div>

              <div class="d-flex align-items-center">
                <div>
                  <select id="rowsPerPage" onchange="changeRowsPerPage(this.value)">
                    <option value="">None</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>

                <div>
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M16.3805 9.28957L12.5005 13.1696L8.62047 9.28957C8.23047 8.89957 7.60047 8.89957 7.21047 9.28957C6.82047 9.67957 6.82047 10.3096 7.21047 10.6996L11.8005 15.2896C12.1905 15.6796 12.8205 15.6796 13.2105 15.2896L17.8005 10.6996C18.1905 10.3096 18.1905 9.67957 17.8005 9.28957C17.4105 8.90957 16.7705 8.89957 16.3805 9.28957Z" fill="#212B36"/>
                  </svg>
                </div>
              </div>

              <div><%= pagination_information(@variants) %></div>

              <div class="pagination"><%= will_paginate @variants %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function changeRowsPerPage(value) {
    window.location.href = window.location.pathname + "?per_page=" + value;
  }
</script>
