<div class="hero_wrapper">
  <div class="inventory_page_wrapper">
    <%= render "shared/sidebar" %>

    <div class="inventory_panel_wrapper">
      <div class="panel_header">
        <div class="header_box">
          <div class="create_wrap">
            <div class="create_content">
              <%= image_tag("ic_plus", class:"plus_icon") %>
              <%= link_to 'Create Manual Order', new_order_path , class: 'create_text'%>
            </div>

            <div class="create_bell_box">
              <%= image_tag("ic_notifications", class:"create_bell_icon") %>
              <div class="create_notification">
                <p class="notification_text">1</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="inventory_box" data-controller="search" data-search-url-value="<%= producer_inventory_variant_path(@producer) %>">
        <div class="inventory_head"><span>Inventories</span> <span><%= @producer.name %></span> </div>
        <a href="<%= producer_inventory_variant_path(format: :csv) %>" class="export_btn">
            <svg class="btn_icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M3.33301 15.8333C3.33301 15.3731 3.7061 15 4.16634 15H15.833C16.2932 15 16.6663 15.3731 16.6663 15.8333C16.6663 16.2936 16.2932 16.6667 15.833 16.6667H4.16634C3.7061 16.6667 3.33301 16.2936 3.33301 15.8333Z" fill="white"/>
              <path d="M4.16634 16.6667C3.7061 16.6667 3.33301 16.2936 3.33301 15.8333V14.1667C3.33301 13.7064 3.7061 13.3333 4.16634 13.3333C4.62658 13.3333 4.99967 13.7064 4.99967 14.1667V15.8333C4.99967 16.2936 4.62658 16.6667 4.16634 16.6667Z" fill="white"/>
              <path d="M15.833 16.6667C15.3728 16.6667 14.9997 16.2936 14.9997 15.8333V14.1667C14.9997 13.7064 15.3728 13.3333 15.833 13.3333C16.2932 13.3333 16.6663 13.7064 16.6663 14.1667V15.8333C16.6663 16.2936 16.2932 16.6667 15.833 16.6667Z" fill="white"/>
              <path d="M9.99967 12.5C9.82691 12.5013 9.65801 12.4489 9.51634 12.35L6.18301 10C5.809 9.73468 5.71962 9.21704 5.98301 8.84167C6.11057 8.65963 6.30557 8.53609 6.52466 8.49854C6.74375 8.46098 6.96876 8.51251 7.14967 8.64167L9.99967 10.6333L12.833 8.5C13.2012 8.22386 13.7235 8.29848 13.9997 8.66667C14.2758 9.03486 14.2012 9.55719 13.833 9.83333L10.4997 12.3333C10.3554 12.4415 10.18 12.5 9.99967 12.5Z" fill="white"/>
              <path d="M9.99967 10.8333C9.53944 10.8333 9.16634 10.4602 9.16634 10V3.33333C9.16634 2.8731 9.53944 2.5 9.99967 2.5C10.4599 2.5 10.833 2.8731 10.833 3.33333V10C10.833 10.4602 10.4599 10.8333 9.99967 10.8333Z" fill="white"/>
            </svg>

            <div class="btn_text">CSV. Export</div>
          </a>
        <div class="inventory_content_box">
          <%= link_to 'Click here to Track Inventory History', producer_producer_variant_histories_path(producer_id: @producer.id), class: 'history_btn' %>

          <div class="search_box">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.31 15.9L20.71 19.29C20.8993 19.4778 21.0058 19.7334 21.0058 20C21.0058 20.2666 20.8993 20.5222 20.71 20.71C20.5222 20.8993 20.2666 21.0058 20 21.0058C19.7334 21.0058 19.4778 20.8993 19.29 20.71L15.9 17.31C14.5025 18.407 12.7767 19.0022 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11C19.0022 12.7767 18.407 14.5025 17.31 15.9ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z" fill="#919EAB"/>
            </svg>
            <input class="search_input" value="<%= params[:query] %>" type="text" placeholder="Search Product by Name, SKU, Product ID, Color " data-search-target="query" />
          </div>

          <div class="inventory_table_wrap">
            <div class="inventory_table">
              <div class="thead">
                <div class="th one">Product Id</div>
                <div class="th two">Product Image</div>
                <div class="th three">Product Name</div>
                <div class="th four">Brand</div>
                <div class="th five">SKU</div>
                <div class="th six">Color</div>
                <div class="th seven">Size</div>
                <div class="th eight">Aisle No</div>
                <div class="th nine">Status</div>
                <div class="th ten">
                  <div class="inv_qty_th">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                      <path d="M15 9L13.9425 7.9425L9.75 12.1275V3H8.25V12.1275L4.065 7.935L3 9L9 15L15 9Z" fill="white"/>
                    </svg>
                    <span>Inventory QTY</span>
                  </div>
                </div>
              </div>
              <div class="tbody" data-search-target="results">
                <%= render 'producer_inventory_table', pv: @pv %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<turbo-frame id="edit-inventory-modal"></turbo-frame>
<turbo-frame id="edit-aisle-modal"></turbo-frame>
