<div class="hero_wrapper">
  <div class="inventory_page_wrapper">
    <%= render "shared/sidebar" %>

    <div class="inventory_panel_wrapper">
      <div class="panel_header">
        <div class="header_box">
          <div class="create_wrap">
            <div class="create_content">
              <%= image_tag("ic_plus", class:"plus_icon") %>
              <%= link_to 'Create Manual Order', new_order_path , class: 'create_text'%>
            </div>
            <div class="create_bell_box">
              <%= image_tag("ic_notifications", class:"create_bell_icon") %>
              <div class="create_notification">
                <p class="notification_text">1</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="inventory_box" data-controller="search" data-search-url-value="<%= producer_inventory_variant_path(@producer) %>">
        <div class="inventory_head"><span>Inventories</span> <span><%= @producer.name%></span> </div>
        <div class="inventory_content_box">
          <%= link_to 'Click here to Track Inventory History',inventory_history_variants_path(producer_id: @producer), class: 'history_btn'%>

          <div class="search_box">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.31 15.9L20.71 19.29C20.8993 19.4778 21.0058 19.7334 21.0058 20C21.0058 20.2666 20.8993 20.5222 20.71 20.71C20.5222 20.8993 20.2666 21.0058 20 21.0058C19.7334 21.0058 19.4778 20.8993 19.29 20.71L15.9 17.31C14.5025 18.407 12.7767 19.0022 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11C19.0022 12.7767 18.407 14.5025 17.31 15.9ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z" fill="#919EAB"/>
            </svg>
            <input class="search_input" type="text" placeholder="Search Product by Name, SKU, Product ID, Color " data-search-target="query" />
          </div>

          <div class="inventory_table_wrap">
            <div class="inventory_table">
              <div class="thead">
                <div class="th one">Product Id</div>
                <div class="th two">Product Image</div>
                <div class="th three">Product Name</div>
                <div class="th four">Brand</div>
                <div class="th five">SKU</div>
                <div class="th six">Color</div>
                <div class="th seven">Size</div>
                <div class="th eight">Aisle No</div>
                <div class="th nine">Status</div>
                <div class="th ten">
                  <div class="inv_qty_th">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                      <path d="M15 9L13.9425 7.9425L9.75 12.1275V3H8.25V12.1275L4.065 7.935L3 9L9 15L15 9Z" fill="white"/>
                    </svg>
                    <span>Inventory QTY</span>
                  </div>
                </div>
              </div>
              <div class="tbody" data-search-target="results">
                <%= render 'producer_inventory_table', pv: @pv %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<turbo-frame id="edit-inventory-modal"></turbo-frame>
<turbo-frame id="edit-aisle-modal"></turbo-frame>