<div class="inventory_panel_wrapper">
  <div class="panel_header">
    <div class="header_box">
      <div class="create_wrap">
        <div class="create_content">
          <%= image_tag("ic_plus", class:"plus_icon") %>
          <%= link_to 'Create Manual Order', new_order_path , class: 'create_text'%>
        </div>
        <div class="create_bell_box">
          <%= image_tag("ic_notifications", class:"create_bell_icon") %>
          <div class="create_notification">
            <p class="notification_text">1</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inventory_box">
    <div class="inventory_head"><span>Inventories</span> <span><%= current_user.name%></span> </div>
    <div class="inventory_content_box">
      <%= link_to 'Click here to Track Inventory History',inventory_history_variants_path, class: 'history_btn'%>

      <div class="search_box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.31 15.9L20.71 19.29C20.8993 19.4778 21.0058 19.7334 21.0058 20C21.0058 20.2666 20.8993 20.5222 20.71 20.71C20.5222 20.8993 20.2666 21.0058 20 21.0058C19.7334 21.0058 19.4778 20.8993 19.29 20.71L15.9 17.31C14.5025 18.407 12.7767 19.0022 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11C19.0022 12.7767 18.407 14.5025 17.31 15.9ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z" fill="#919EAB"/>
        </svg>
        <input class="search_input" type="text" placeholder="Search Product by Name, SKU, Product ID, Color" >
      </div>

      <div class="inventory_table_wrap">
        <div class="inventory_table">
          <div class="thead">
            <div class="th one">Product Id</div>
            <div class="th two">Product Image</div>
            <div class="th three">Product Name</div>
            <div class="th four">Brand</div>
            <div class="th five">SKU</div>
            <div class="th six">Color</div>
            <div class="th seven">Size</div>
            <div class="th eight">Aisle No</div>
            <div class="th nine">Status</div>
            <div class="th ten">
              <div class="inv_qty_th">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path d="M15 9L13.9425 7.9425L9.75 12.1275V3H8.25V12.1275L4.065 7.935L3 9L9 15L15 9Z" fill="white"/>
                </svg>
                <span>Inventory QTY</span>
              </div>
            </div>
          </div>
          <div class="tbody">
            <% @products.each do |product|%>
            <%# @orders.each do |order| %>
              <%# order.order_products.each do |order_product|%>
              <% product.variants.each do |variant|%>
               <% pv = variant.producers_variants.find_by(user_id: current_user.id)%>

                <div class="tbody_row">
                  <div class="td one"><%= product.id%></div>
                  <div class="td two">
                    <div class="product_img">
                      <% if product.image.attached? %>
                        <%= image_tag product.image %>
                      <% else %>
                        <%= image_tag asset_path('dummy-product.png') %>
                      <% end %>

                      <%= link_to 'javascript:;', class: 'zoom_img' do %>
                        <%= image_tag 'ic_expand.png', alt: 'icon', class: 'expand_icon' %>
                      <% end %>
                    </div>
                  </div>
                  <div class="td three"><%= product.name%></div>
                  <div class="td four"><%= product.brand_name%></div>
                  <div class="td five"><%= variant.real_variant_sku%></div>
                  <div class="td six"><%= variant.color%></div>
                  <div class="td seven"><%= variant.size%> oz</div>
                  <div class="td eight">
                    <div class="aisle_box">
                      <div class="asle_no">A11</div>
                      <%= link_to 'javascript:;', class: "aisle_icon" do %>
                        <%= image_tag 'ic_edit.png', alt: 'icon', class: 'ic_edit' %>
                      <% end %>
                    </div>
                  </div>
                  <div class="td nine">
                    <% if pv.inventory > 100 %>
                      <div class="badgee in_stock">In Stock</div>
                    <% elsif pv.inventory <= 100 && pv.inventory > 0 %>
                      <div class="badgee low_stock">Low Stock</div>
                    <%else%>
                      <div class="badgee out_of_stock">Out of Stock</div>
                    <%end%>
                  </div>
                  <div class="td ten">
                    <div class="aisle_box">
                      <div class="asle_no"><%= pv.inventory%></div>
                      <a href="<%= edit_inventory_variant_path(variant) %>"  data-turbo-frame="edit-inventory-modal" class="aisle_icon invntry_qty " ><%= image_tag 'ic_edit.png', alt: 'icon', class: 'ic_edit' %> </a>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<turbo-frame id="edit-inventory-modal"></turbo-frame>
