<div class="nested-fields">
  <div class="form-control">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="form-control">
    <%= f.label :size %>
    <%= f.text_field:size %>
  </div>

  <div class="form-control">
    <%= f.label :Real_variant_SKU %>
    <%= f.text_field :Real_variant_SKU %>
  </div>
</div>
