<div class="nested-fields save_variant_section">
  <div class="group_info_section p-0">
    <div class="image_info pt-3">
      <%= image_tag("illustration_upload", class:"info_img") %>
      <div class="info_content">
        <h5 class="info_head">Variant Image</h5>
        <%= f.file_field :image, class:"file_type" %>
        <a class="info_link" href="#">Drop files here or click <span>browse</span> thorough your machine</a>
      </div>
    </div>
    <div class="right_info_content">
      <div class="right_item">
        <label>Color</label>
        <%= f.text_field :color, class: "item_text" %>
      </div>
      <div class="right_item">
        <label>Size</label>
        <%= f.text_field:size, class: "item_text" %>
      </div>
      <div class="right_item">
        <label>Real Variant SKU</label>
        <%= f.text_field :Real_variant_SKU, class: "item_text" %>
      </div>
      
      <div class="right_item">
        <label>Inventory</label>
        <%= f.text_field :inventory, class: "item_text" %>
      </div>

      <div class="right_item">
        <label>Product Length</label>
        <%= f.text_field :length, class: "item_text" %>
      </div>

      <div class="right_item">
        <label>Product Height</label>
        <%= f.text_field :height, class: "item_text" %>
      </div>
      
      <div class="right_item">
        <label>Product width</label>
        <%= f.text_field :width, class: "item_text" %>
      </div>


      <div class="right_item">
        <label>Product Weight lb</label>
        <%= f.text_field :weight_lb, class: "item_text" %>
      </div>
      <div class="right_item">
        <label>Product Weight oz</label>
        <%= f.text_field :weight_oz, class: "item_text" %>
      </div>

    </div>
  </div>
</div>