<div class="hero_wrapper">

  <%= render partial: 'shared/sidebar' %>
  <div class="new_product_wrap">
    <div class="product_header">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.425 13.25L17.2583 16.075C17.4161 16.2315 17.5048 16.4445 17.5048 16.6667C17.5048 16.8889 17.4161 17.1019 17.2583 17.2583C17.1019 17.4161 16.8889 17.5048 16.6667 17.5048C16.4445 17.5048 16.2315 17.4161 16.075 17.2583L13.25 14.425C12.0854 15.3392 10.6472 15.8352 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667C15.8352 10.6472 15.3392 12.0854 14.425 13.25ZM9.16667 4.16667C6.40524 4.16667 4.16667 6.40524 4.16667 9.16667C4.16667 11.9281 6.40524 14.1667 9.16667 14.1667C11.9281 14.1667 14.1667 11.9281 14.1667 9.16667C14.1667 6.40524 11.9281 4.16667 9.16667 4.16667Z" fill="#637381"/>
      </svg>
      <div class="icon_group">
        <div class="flag"><%= image_tag("GB") %></div>
        <div class="create_bell_box">
          <%= image_tag("ic_notifications", class:"create_bell_icon") %>
          <div class="create_notification">
            <p class="notification_text">1</p>
          </div>
        </div>
        <%= image_tag("ic_user_group") %>
        <%= image_tag("Img_Avatar", class: "user_icon") %>
      </div>
    </div>
    <h5 class="new_head">Edit product</h5>

    <div class="export_btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M3.33301 15.8333C3.33301 15.3731 3.7061 15 4.16634 15H15.833C16.2932 15 16.6663 15.3731 16.6663 15.8333C16.6663 16.2936 16.2932 16.6667 15.833 16.6667H4.16634C3.7061 16.6667 3.33301 16.2936 3.33301 15.8333Z" fill="white"/>
        <path d="M4.16634 16.6667C3.7061 16.6667 3.33301 16.2936 3.33301 15.8333V14.1667C3.33301 13.7064 3.7061 13.3333 4.16634 13.3333C4.62658 13.3333 4.99967 13.7064 4.99967 14.1667V15.8333C4.99967 16.2936 4.62658 16.6667 4.16634 16.6667Z" fill="white"/>
        <path d="M15.833 16.6667C15.3728 16.6667 14.9997 16.2936 14.9997 15.8333V14.1667C14.9997 13.7064 15.3728 13.3333 15.833 13.3333C16.2932 13.3333 16.6663 13.7064 16.6663 14.1667V15.8333C16.6663 16.2936 16.2932 16.6667 15.833 16.6667Z" fill="white"/>
        <path d="M9.99967 12.5C9.82691 12.5013 9.65801 12.4489 9.51634 12.35L6.18301 10C5.809 9.73468 5.71962 9.21704 5.98301 8.84167C6.11057 8.65963 6.30557 8.53609 6.52466 8.49854C6.74375 8.46098 6.96876 8.51251 7.14967 8.64167L9.99967 10.6333L12.833 8.5C13.2012 8.22386 13.7235 8.29848 13.9997 8.66667C14.2758 9.03486 14.2012 9.55719 13.833 9.83333L10.4997 12.3333C10.3554 12.4415 10.18 12.5 9.99967 12.5Z" fill="white"/>
        <path d="M9.99967 10.8333C9.53944 10.8333 9.16634 10.4602 9.16634 10V3.33333C9.16634 2.8731 9.53944 2.5 9.99967 2.5C10.4599 2.5 10.833 2.8731 10.833 3.33333V10C10.833 10.4602 10.4599 10.8333 9.99967 10.8333Z" fill="white"/>
      </svg>
      <div class="btn_text">CSV. Export</div>
    </div>
    <%= form_for @product, url: product_path(@product), method: :patch, html: { multipart: true } do |f| %>
      <div class="group_info_section">
        <div class="image_info">
          <%= image_tag("illustration_upload", class:"info_img") %>
          <div class="info_content">
            <%= f.file_field :image, class:"file_type" %>
            <h5 class="info_head">Main Product Image</h5>
            <a class="info_link" href="#">Drop files here or click <span>browse</span> thorough your machine</a>
          </div>
        </div>
        <div class="right_info_content">
          <div class="right_item">
            <%= f.label :name %>
            <%= f.text_field :name ,class: "item_text" %>
          </div>
          <div class="right_item">
            <%= f.label :name %>
            <%= f.text_field :brand_name ,class: "item_text" %>
          </div>
        </div>
      </div>

      <div class="producers_section">
        <h5 class="producers_head">Producers</h5>

        <table class="producers_table">
          <tr>
            <th class="table_head"> Producer Company Name</th>
            <th class="table_head">Producer Location</th>
            <th class="table_head">Blank Price</th>
            <th class="table_head">Front Side Print Price</th>
            <th class="table_head">Back Side Print Price</th>
            <th class="table_head">Edit Pricing</th>
          </tr>
          <tr>
            <% @producer.each do |producer| %>
              <tr>
                <td class="table_td" ><%= producer.company_name %></td>
                <td class="table_td" ><%= producer.location %></td>
                <td class="table_td" >
                  <%= (ProductProducerPricing.find_by(user_id: producer, product_id: @product.id)).blank_price %>
                  </td>
                <td class="table_td" >
                  <%=  (ProductProducerPricing.find_by(user_id: producer, product_id: @product.id)).front_side_print_price %>
                </td>
                <td class="table_td" >
                  <%= (ProductProducerPricing.find_by(user_id: producer, product_id: @product.id)).back_side_print_price %>
                </td>
                <td class="table_td edit_icon">
                 <a href="<%= edit_producer_product_path(user_id: producer, product_id: @product.id) %>" data-turbo-frame="edit_producer">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4806 4.60084L20.2206 7.34084C20.9866 8.0706 21.0179 9.2825 20.2906 10.0508L11.2906 19.0508C10.9646 19.3741 10.5374 19.5753 10.0806 19.6208L5.91061 20.0008H5.82061C5.55481 20.0024 5.29933 19.898 5.11061 19.7108C4.89965 19.5007 4.79334 19.2074 4.82061 18.9108L5.25061 14.7408C5.29612 14.284 5.49738 13.8568 5.82061 13.5308L14.8206 4.53084C15.5964 3.87539 16.7403 3.90549 17.4806 4.60084ZM14.1406 8.00084L16.8206 10.6808L18.8206 8.73084L16.0906 6.00084L14.1406 8.00084Z" fill="#637381"/>
                      </svg>
                    </a> 
              </td>
            </tr>
          <% end %>
        </table>

        <turbo-frame id="edit_producer" class="producer_card"></turbo-frame>
      </div>

      <div class="variations_section">
      <h5 class="variantions_head">Variations</h5>
      <table class="variatins_table table ">
 
        <thead class="w-100">
          <tr>
            <th class="table_head" style="border-top-left-radius: 18px;" >Image</th>
            <th class="table_head">Color</th>
            <th class="table_head">Size</th>
            <th class="table_head">SKU</th>
            <th class="table_head">Dimensions</th>
            <th class="table_head w-75 border-0" style="border-top-right-radius: 18px;">Inventory</th>
          </tr>
        <thead>
        <tbody class="w-100" data-controller="variants">
          <% @variants.each do |variant| %>
          
            <tr>
              <td class="table_td py-2 px-3">
                <% if variant.image.attached? %>
                  <%= image_tag variant.image %>
                <% else %>
                  <%= image_tag asset_path('dummy-product.png') %>
                <% end %> 
              </td>
              <td class="table_td"><%= variant.color %></td>
              <td class="table_td"><%= variant.size %></td>
              <td class="table_td"><%= variant.Real_variant_SKU %></td>
              <td class="table_td">
                <button type="button" data-variants-target="editDimension" data-variant-id="<%= variant.id %>" class="dimension_btn icon_change" style="width: 124px; padding: 6px 3px;">
                  <span>Edit Dimension</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20 12L18.59 10.59L13 16.17V4H11V16.17L5.42 10.58L4 12L12 20L20 12Z" fill="white"/>
                  </svg>
                </button>
              </td>
              <td class="table_td w-75"><%= variant.inventory %></td>
              <td class="table_td icon_delete">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M11.6663 10C11.6663 10.9205 10.9201 11.6667 9.99967 11.6667C9.0792 11.6667 8.33301 10.9205 8.33301 10C8.33301 9.07953 9.0792 8.33333 9.99967 8.33333C10.9201 8.33333 11.6663 9.07953 11.6663 10Z" fill="#637381"/>
                  <path d="M11.6663 4.16667C11.6663 5.08714 10.9201 5.83333 9.99967 5.83333C9.0792 5.83333 8.33301 5.08714 8.33301 4.16667C8.33301 3.24619 9.0792 2.5 9.99967 2.5C10.9201 2.5 11.6663 3.24619 11.6663 4.16667Z" fill="#637381"/>
                  <path d="M11.6663 15.8333C11.6663 16.7538 10.9201 17.5 9.99967 17.5C9.0792 17.5 8.33301 16.7538 8.33301 15.8333C8.33301 14.9129 9.0792 14.1667 9.99967 14.1667C10.9201 14.1667 11.6663 14.9129 11.6663 15.8333Z" fill="#637381"/>
                </svg>
              </td>
            </tr>

            <tr class="dimenstion_variation hide" id="dimension-head-<%= variant.id %>">
              <td class="purpul_row rounded-0 first"><div class="t_text">Product Length</div></td>
              <td class="purpul_row"><div class="t_text">Product Height</div></td>
              <td class="purpul_row"><div class="t_text">Product Widht</div></td>
              <td class="purpul_row"><div class="t_text">Product Weight</div></td>
              <td class="purpul_row w-25"></td>
              <td class="purpul_row w-25 rounded-0"><div class="t_text">Action</div></td>
            </tr>

            <tr data-controller="variants-dimensions" id="dimension-form-<%= variant.id %>"  class="dimenstion_variation hide " data-variants-dimensions-variant-id-value="<%= variant.id %>">
              <td class="table_footer" >
                <div class="foot_content">
                  <label>Length</label>
                  <span class="foot_text">in</span>
                  <span><%= text_field_tag :length, variant.length, class: "foot_input" , data: { 'variants-dimensions-target': 'lengthInput' } %></span>
                </div>
              </td>
              <td class="table_footer">
                <div class="foot_content">
                  <label>Height</label>
                  <span class="foot_text">in</span>
                  <span><%= text_field_tag :height, variant.height, class: "foot_input" , data: { 'variants-dimensions-target': 'heightInput' } %></span>
                </div>
              </td>
              <td class="table_footer">
                <div class="foot_content">
                  <label>width</label>
                  <span class="foot_text">in</span>
                  <span><%= text_field_tag :width, variant.width, class: "foot_input" , data: { 'variants-dimensions-target': 'widthInput' } %></span>
                </div>
              </td>
              <td class="table_footer">
                <div class="foot_content">
                  <label>weight</label>
                  <span class="foot_text">in</span>
                  <span><%= text_field_tag :weight_lb, variant.weight_lb, class: "foot_input" , data: { 'variants-dimensions-target': 'weight_lbInput' } %></span>
                </div>
              </td>
              <td class="table_footer">
                <div class="foot_content">
                  <label>weight</label>
                  <span class="foot_text">in</span>
                  <span><%= text_field_tag :weight_oz, variant.weight_oz, class: "foot_input" , data: { 'variants-dimensions-target': 'weight_ozInput' } %></span>
                </div>
              </td>
              <td class="table_footer">
                <div class="foot_content foot_btn">
                  <button type="button" class="btn btn-primary" data-variants-dimensions-target="saveVariant">Confirm</button>
                </div>
              </td>
            </tr>
          
            <div class="delete_variation hide">
              <div class="icon_wrap">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M21 5.99943H16V4.32943C15.9765 3.68924 15.7002 3.08448 15.2316 2.64772C14.7629 2.21095 14.1402 1.97782 13.5 1.99943H10.5C9.85975 1.97782 9.23706 2.21095 8.76843 2.64772C8.2998 3.08448 8.02346 3.68924 8 4.32943V5.99943H3C2.73478 5.99943 2.48043 6.10478 2.29289 6.29232C2.10536 6.47986 2 6.73421 2 6.99943C2 7.26464 2.10536 7.519 2.29289 7.70653C2.48043 7.89407 2.73478 7.99943 3 7.99943H4V18.9994C4 19.7951 4.31607 20.5581 4.87868 21.1207C5.44129 21.6834 6.20435 21.9994 7 21.9994H17C17.7956 21.9994 18.5587 21.6834 19.1213 21.1207C19.6839 20.5581 20 19.7951 20 18.9994V7.99943H21C21.2652 7.99943 21.5196 7.89407 21.7071 7.70653C21.8946 7.519 22 7.26464 22 6.99943C22 6.73421 21.8946 6.47986 21.7071 6.29232C21.5196 6.10478 21.2652 5.99943 21 5.99943ZM10 4.32943C10 4.16943 10.21 3.99943 10.5 3.99943H13.5C13.79 3.99943 14 4.16943 14 4.32943V5.99943H10V4.32943ZM18 18.9994C18 19.2646 17.8946 19.519 17.7071 19.7065C17.5196 19.8941 17.2652 19.9994 17 19.9994H7C6.73478 19.9994 6.48043 19.8941 6.29289 19.7065C6.10536 19.519 6 19.2646 6 18.9994V7.99943H18V18.9994Z" fill="#212B36"/>
                  <path d="M9 16.9994C9.26522 16.9994 9.51957 16.8941 9.70711 16.7065C9.89464 16.519 10 16.2646 10 15.9994V11.9994C10 11.7342 9.89464 11.4799 9.70711 11.2923C9.51957 11.1048 9.26522 10.9994 9 10.9994C8.73478 10.9994 8.48043 11.1048 8.29289 11.2923C8.10536 11.4799 8 11.7342 8 11.9994V15.9994C8 16.2646 8.10536 16.519 8.29289 16.7065C8.48043 16.8941 8.73478 16.9994 9 16.9994Z" fill="#212B36"/>
                  <path d="M15 16.9994C15.2652 16.9994 15.5196 16.8941 15.7071 16.7065C15.8946 16.519 16 16.2646 16 15.9994V11.9994C16 11.7342 15.8946 11.4799 15.7071 11.2923C15.5196 11.1048 15.2652 10.9994 15 10.9994C14.7348 10.9994 14.4804 11.1048 14.2929 11.2923C14.1054 11.4799 14 11.7342 14 11.9994V15.9994C14 16.2646 14.1054 16.519 14.2929 16.7065C14.4804 16.8941 14.7348 16.9994 15 16.9994Z" fill="#212B36"/>
                </svg>
                <h5 class="icon_text">Delete Variation?</h5>
              </div>
              <div class="delete_btn_wrap">
                <%= link_to 'Delete', remove_variant_product_path(variant), method: :delete, class:"delete_btn"%>
                <%= link_to 'Cancel', edit_product_path(@product), class: 'cancel_btn' %>
              </div>
            </div>
          <% end %>
        <tbody>
      </table>

      <div class="links add_variation">
        <svg class="add_icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path d="M19.5 11H13.5V5C13.5 4.44772 13.0523 4 12.5 4C11.9477 4 11.5 4.44772 11.5 5V11H5.5C4.94772 11 4.5 11.4477 4.5 12C4.5 12.5523 4.94772 13 5.5 13H11.5V19C11.5 19.5523 11.9477 20 12.5 20C13.0523 20 13.5 19.5523 13.5 19V13H19.5C20.0523 13 20.5 12.5523 20.5 12C20.5 11.4477 20.0523 11 19.5 11Z" fill="white"/>
        </svg>
        <%= link_to_add_association f, :variants, class: 'add_head' do %>
          Add Variants          
        <% end %>
      </div>

      <div class="horizontal_line"></div>
      </div>

      <div class="product_print_section">
        <h5 class="print_head">Product Print Area</h5>
        <table class="print_table">
          <thead class="w-100">
            <tr>
              <th class="py-2 px-3 print_th">Print Area Width (mm) </th>
              <th class="py-2 px-3 print_th">Print Area Height (mm)  </th>
              <th class="py-2 px-3 print_th w-50"></th>
              <th class="py-2 px-3 print_th">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2 px-3 print_td">
                <div class="foot_content">
                  <span><%= f.text_field :print_area_width, class: "foot_input" %></span>
                </div>
              </td>
              <td class="py-2 px-3 print_td">
                <div class="foot_content">
                  <span><%= f.text_field :print_area_height, class: "foot_input" %></span>
                </div>
              </td>
              <td class="py-2 px-3 print_td">
              </td>
              <td class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8836 3.83273L16.1669 6.11606C16.8052 6.7242 16.8313 7.73411 16.2253 8.3744L8.72525 15.8744C8.45361 16.1438 8.09758 16.3115 7.71692 16.3494L4.24192 16.6661H4.16692C3.94542 16.6673 3.73252 16.5804 3.57525 16.4244C3.39945 16.2492 3.31086 16.0048 3.33358 15.7577L3.69192 12.2827C3.72984 11.9021 3.89756 11.546 4.16692 11.2744L11.6669 3.7744C12.3134 3.22819 13.2667 3.25327 13.8836 3.83273ZM11.1003 6.66606L13.3336 8.8994L15.0003 7.2744L12.7253 4.9994L11.1003 6.66606Z" fill="#212B36"/>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="bottom_btn_group">
          <%= button_tag 'Cancel', class: "cancel_btn", type: "button", onclick: "window.location.href = '#{products_path}'" %>
          <%= f.submit 'update', class: "save_btn" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".edit_icon").click(function(){
      $(".producer_card").toggleClass("hide")  
    })

    $(".icon_delete").click(function(){
      $(".delete_variation").toggleClass("hide")  
    })
  })

</script>