<%= render partial: 'shared/sidebar' %>
<div class="col-md-9">
  <h1>Create a new product</h1>
  <%= form_for @product, html: { multipart: true } do |f| %>

    <!-- Product fields -->
    <div class="form-control">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-control">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-control">
      <%= f.label :brand_name %>
      <%= f.text_field :brand_name %>
    </div>

    <!-- Variations (nested) -->
    <h1>Variations</h1>
    <div id="variants">
      <%= f.fields_for :variants do |variation_form| %>
        <%= render 'variant_fields', f: variation_form %>
      <% end %>
      <div class="links">
        <%= link_to_add_association '+ Add variants', f, :variants, class: 'btn btn-primary' %>
      </div>
    </div>

    <!-- Product print area fields -->
    <h1>Product Print Area</h1>
    <div class="form-control">
      <%= f.label :print_area_width %>
      <%= f.text_field :print_area_width %>
    </div>

    <div class="form-control">
      <%= f.label :print_area_height %>
      <%= f.text_field :print_area_height %>
    </div>

    <div class="actions">
      <%= f.submit 'Save', class: "btn btn-primary" %>
      <%= button_tag 'Cancel', class: "btn btn-secondary", type: "button", onclick: "window.location.href = '#{dashboard_index_path}'" %>
    </div>

  <% end %>
</div>
